[2019-06-02 21:40] nicholascar opened #1 "Review MOD Ontology for properties to cater for"

[2019-06-02 21:42] nicholascar opened #2 "Cater for PROF information"
Cater for any information in the ontology presented according to the [Profiles Vocabulary](https://www.w3.org/TR/dx-prof/).

[2019-06-02 21:46] nicholascar opened #3 "Create tests for complex restrictions"
Tests could be made with tiny input ontologies & expected HTML. A couple of tests for complex restrictions (intersectionOf classes for domain etc.) would be good to implement before re-writing much code for improvements

[2019-06-03 10:18] nicholascar opened #4 "Create a CSS file for the Aust. Gov. LD WG"
Though not strictly an Issue for the tool, I'm listing this here so the task isn't lost.

[2019-06-03 10:23] nicholascar opened #5 "Include a Class & Property hierarchy image"
Enable the tool to create hierarchies of Classes & Properties, as per http://www.linked.data.gov.au/def/placenames/#classes

[2019-06-03 10:24] nicholascar opened #6 "Handle documentation profiles"
Allow the user to set different 'annotation profiles' which tell the system which properties it may handle, e.g. MOD, RDFS-only etc. Accessible via another command line arg

[2019-06-03 10:27] nicholascar opened #7 "Create mobile-friendly HTML"
Make pyLODE output work on mobile devices

[2019-06-03 13:49] nicholascar opened #8 "Add In Domain of / In Range Of for classes"

[2019-06-04 13:14] nicholascar opened #9 "Add link back to ToC in HTML"
As per LODE

[2019-06-04 13:15] nicholascar opened #10 "Add schema.org metadata to HTML page"

[2019-06-04 16:02] nicholascar opened #11 "Fix OWL CURIE display in imports"
Showing `07:owl`, should be `owl:`

[2019-06-06 22:47] nicholascar opened #12 "Add type superscripts to things in Restrictions"

[2019-06-06 22:49] nicholascar opened #13 "Concatenate multiple descriptions"
e.g. Registry Ontology:

[code]

[2019-06-06 23:26] nicholascar commented on #12
Fixed by commit https://github.com/RDFLib/pyLODE/commit/3ca38a3637b8c8027a4c68cc1f73647861698ee6

[2019-06-06 23:26] #12 closed

[2019-06-07 09:46] nicholascar opened #14 "Replace all hyperlinks to classes/props for this ontology items with fids"
For a link to a classes' "in domain of" (or any other) property and vice versa for property -> class, the hyperlink to the thing references should be the locak fragment link in this document, not a link to the namespace URI. Only externally-defined items should use namespace URIs

[2019-06-07 09:49] nicholascar commented on #8
Fixed with https://github.com/RDFLib/pyLODE/commit/2f00a1d39e4784d8214d4745cf4c052e2875e35a

[2019-06-07 09:49] #8 closed

[2019-06-07 09:56] nicholascar commented on #14
To do this, change the class & property extraction: make a skeleton dict of classes and another of properties defined or described (i.e. defined elsewhere but re-described) in the ont first and then rogressively enhance knowledge about these dicts from ont looking. This will allow for lookups agains the skeleton's keys at any time to know if a class/prop is a locla one with a fragment URI.

[2019-06-11 01:20] nicholascar opened #15 "Cater for licenses in ontology documentation"

[2019-06-11 12:42] nicholascar commented on #15
Handled by Commit https://github.com/RDFLib/pyLODE/commit/50d5646e3a6626712f6477fa368b5e160d29ccea

[2019-06-11 12:42] #15 closed

[2019-06-12 23:45] nicholascar opened #16 "Understand # prefix: ontology annotation"
If present, include # prefix: ... in the search for a default namespace

[2019-06-12 23:46] nicholascar commented on #14
Complete, as of about Commit https://github.com/RDFLib/pyLODE/commit/23fefa4300e9ed2f7817230ca6b14d502c81e3ab

[2019-06-12 23:46] #14 closed

[2019-06-13 00:39] nicholascar opened #17 "Map / get Licence labels from URIs"
For license URIs like http://creativecommons.org/publicdomain/zero/1.0/, get the label for display (here it would be CC0 1.0 Universal (CC0 1.0) Public Domain Dedication)

[2019-06-14 08:29] nicholascar opened #18 "Cater for annotation in multiple languages"

[2019-06-14 08:29] #9 closed

[2019-06-23 07:06] nicholascar opened #19 "Does not understand equivalentClass restrictions"
Can only see `owl:subClassOf` restrictions, not `owl:equivalentClass`.

[2019-06-24 02:44] nicholascar opened #20 "Respect case in fragments"
Make FID generator use the same font case at class names so PIDs like  `http://linked.data.gov.au/def/geofabric#ContractedCatchment` redirect to a working fragment, not the page top. Here for ContractedCatchment, currently only `http://www.linked.data.gov.au/def/geofabric/#contractedcatchment` works.

[2019-06-26 06:51] nicholascar opened #21 "Bundle a distribution for command line use"
Consider using PyOxidizer: https://gregoryszorc.com/blog/2019/06/24/building-standalone-python-applications-with-pyoxidizer/

[2019-06-28 01:02] nicholascar commented on #17
URI|Label
----|----
https://creativecommons.org/publicdomain/zero/1.0/ | CC0 1.0 Universal (CC0 1.0) Public Domain Dedication
https://creativecommons.org/licenses/by/3.0/ | Attribution 3.0 Unported (CC BY 3.0)
https://creativecommons.org/licenses/by/3.0/au/ | Attribution 3.0 Australia (CC BY 3.0 AU)
https://creativecommons.org/licenses/by/4.0/ | Attribution 4.0 International (CC BY 4.0)
https://ww

[2019-06-28 01:02] #17 closed

[2019-06-28 03:35] nicholascar opened #22 "Move legend to using <section> not <div>"

[2019-07-22 23:58] lewismc opened #23 "Run pyLODE-as-a-service"
Hi @nicholascar hope all is going well.
We would like to host pyLODE and make it available *aaS to anyone who wants to use it. Specifically, we want to replace the LODE links in the ESIP COR (see screenshot below) with the new pyLODE which would be hosted on the same server.
What is the current status of running pyLODE as a Python service?
<img width="1440" alt="Screen Shot 2019-07-22 at 4 57 39 P

[2019-07-23 03:44] nicholascar commented on #23
Good timing @lewismc! I have just (last night) been working on better packaging for the tool to ensure anyone can host it and also creating a hosted instance. I suppose you've seen the recent commits... You'll see that pyLODE's [now on PyPI](https://pypi.org/project/pyLODE/) and dependencies are managed better than when it was only here on GitHub.

I've just about finished (a day or two to go) mak

[2019-07-23 03:47] nicholascar commented on #22
Addressed by commit 928caa52

[2019-07-23 03:47] #22 closed

[2019-07-23 04:20] lewismc commented on #23
I would rather work with you.

I pushed a very lightweight server to the following branch

[2019-07-23 07:11] nicholascar commented on #23
Thanks Lewis, all merged in. I'll run it a couple of times and if all good, close this Issue. Happy to have and help maintain the Falcon server. Give me a sec to review if I can just replace the Sanic one I was using with this (probably can). 'll still make that vue.js front-end though and host that since it will be useful for people. Cheers, Nick

[2019-07-31 05:22] nicholascar opened #25 "Provide option to validate with SHACL before documentation"
SHACL per regime like MOD, VoID etc.

[2019-08-07 05:03] nicholascar opened #26 "Allow export to PDF"
Currently only export to HTML (+CSS) is supported, what about native support to PDF?

[2019-08-15 01:05] nicholascar opened #27 "Include Licence details in ontology metadata"

[2019-08-21 05:52] nicholascar opened #28 "Cater for links to repositories"
[code]

[2019-08-21 05:52] nicholascar opened #29 "List Legend in ToC"

[2019-11-08 03:16] dr-shorthair opened #30 "Render HTML fragments correctly"
Many RDF properties that typically take string literals (^^xsd:string) may also have HTML fragments (^^rdf:HTML) which allows for formatted documentation. pyLODE currently re-writes these into pre-formatted  code. This content should be passed through as HTML.

[2019-11-08 03:23] dr-shorthair opened #31 "Add 'markdown' ouput option to online service"
The online service currenlty only supports output as HTML or ZIP.
The code also supports Markdown - add this to the service.

[2019-11-26 20:52] scizzorz opened #33 "Cannot build Markdown documentation after pip install"
I installed `pylode` via `pip` (technically via [poetry](https://github.com/sdispater/poetry), but that just uses `pip`), but I'm unable to build documentation successfully. I debugged a little and noted a few issues, but don't have an abundance of time to fix them and submit a PR myself:

* This absolute import (https://github.com/RDFLib/pyLODE/blob/master/src/pylode/cli.py#L7) should probably be

[2019-11-26 20:55] scizzorz opened #34 "Generated Markdown is not rendered correctly"
Following on https://github.com/RDFLib/pyLODE/issues/33, after fixing some of these by manually copying files from the repo itself, I was able to build the markdown documentation. Unfortunately, the generated markdown tables didn't appear to render correctly in either the Sphinx + Recommonmark render nor the GitLab Markdown renderer. I think this is an issue with some markdown parsers disabling ma

[2019-11-26 21:08] scizzorz opened #35 "Support for reStructuredText"
Because rdflib and pyLODE are Python projects, and Python projects tend to lean towards using rST as the standard for the documentation, it would be great to have an rST output format in addition to HTML / MD.

[2019-11-26 21:10] scizzorz commented on #33
It might also be great to have a console script added to the `setup.py` so users can simply run `pylode`, rather than `python -m pylode.cli`: https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html#the-console-scripts-entry-point

[2019-11-27 02:46] edmondchuc opened #36 "Integrate pylode-inject"
Repository: https://github.com/edmondchuc/pylode-inject

pylode-inject helps inject organisation logo and diagrams for different sections of the pylode document.

Example output: https://ternaustralia.github.io/ontology_tern-org/

Proposal: Create an additional optional argument to be passed in via the pylode command-line application for the pylode_inject.yml configuration file.

[2019-11-27 02:49] edmondchuc opened #37 "Integrate the ontology diagram generator"
Integrate the ontology diagram generator into pylode.

Repository: https://github.com/edmondchuc/ontology_diagram_generator

Proposal: An additional optional argument can be passed into the pylode command-line application to automatically generate a PlantUML-based class diagram of the ontology.

[2019-11-27 03:03] nicholascar opened #38 "Refactor code that calls templates"
Currently HTML and Markdown templates are able to be used and ReSt is hoped for too (Issue #35) but the functions that call templates are duplicated (e.g. _make_metadata_html)( & _make_metadata_md()) and need to be refactored.

[2019-11-27 03:03] nicholascar commented on #35
Ah ha! I was wondering if someone would like to have ReStructured text! I'll make some templates for ReSt shortly - they should be pretty similar to the Markdown templates of course so this shouldn't take me too long. On the other hand, feel free to put in a Pull Request for this!

Just a note on timing: there are a couple of updates I need to do before getting to this one, mainly a template refac

[2019-11-27 03:05] nicholascar commented on #34
OK, we may have to have options for pure Markdown and then Markdown + HTML or I might just have to learn how to replicate all the things that I've lazily added in to the Markdown in HTML in plain Markdown.

To be addressed after Issue #38.

[2019-11-27 03:08] nicholascar commented on #33
Thanks for the suggestions, I'll look into these.

There is a script to run pyLODE on the cli on Linux/Mac already, see https://github.com/RDFLib/pyLODE/tree/master/src/pylode/bin

[2019-11-28 20:59] scizzorz commented on #33
Right, I had noticed that. It also didn't ship with the pyLODE distribution via pip, so I resorted to the module invocation. Including the existing script or adding a console script would be equally great.

[2019-11-28 20:59] scizzorz commented on #34
Great, thanks! Glad to hear. re: #35, I think rST has its own separate systems for this as well.

[2019-11-28 21:00] scizzorz commented on #35
No worries! This isn't currently an urgent need for my project, but it would be quite handy to have.

[2019-12-04 23:25] nicholascar commented on #38
Addressed by Commit https://github.com/RDFLib/pyLODE/commit/f282630a054eaa947702311fdb521b73813d1e72

[2019-12-04 23:25] #38 closed

[2019-12-05 00:15] nicholascar commented on #10
Partly addressed by Commit https://github.com/RDFLib/pyLODE/commit/6764db8ae6b3403723483825cff924672d7b9462

[2019-12-05 00:17] nicholascar commented on #10
We now have the following properties catered for in a schema.org JSON-LD block within the HTML header:

of the `DigitalDocument`:
[code]

Still to come:
[code]
...and some sort of typing to indicate the subject of the `DigitalDocument` is actually an ontology

[2019-12-05 00:25] nicholascar commented on #10
An example of the output for the [CRS Ontology](http://linked.data.gov.au/def/crs) is:

[code]

[2019-12-05 00:45] nicholascar commented on #11
Long since fixed

[2019-12-05 00:45] #11 closed

[2019-12-05 00:45] nicholascar commented on #19
Long since fixed

[2019-12-05 00:45] #19 closed

[2019-12-05 00:46] nicholascar commented on #27
Long since catered for

[2019-12-05 00:46] #27 closed

[2019-12-05 00:46] nicholascar commented on #28
Longs since catered for

[2019-12-05 00:46] #28 closed

[2019-12-05 00:48] nicholascar commented on #29
Addressed by Commit https://github.com/RDFLib/pyLODE/commit/1af0b190882f3dc2d4d9357ea2985c9cb6ba8927

[2019-12-05 00:48] #29 closed

[2019-12-08 01:57] nicholascar opened #39 "Cater for ontology dependencies"
* `owl:imports`
* `prof:isProfileOf`
* alignments to other ontologies

[2019-12-08 01:59] nicholascar commented on #39
@rob-metalinkage: can you assist?

[2019-12-08 21:18] rob-metalinkage commented on #39
Ontologies may have several possible relationships that are important to understand the context.

owl:imports is an obvious one to handle by default - and an import diagram is useful to contextualize the ontology before description of the contents. (e.g. https://www.researchgate.net/publication/320064335_Reusing_Domain_Ontologies_in_Linked_Building_Data_The_Case_of_Building_Automation_and_Control)

[2019-12-09 22:54] nicholascar opened #40 "Cater for SWEET-style nano attribution"
As per https://github.com/ESIPFed/sweet/wiki/Recognition-of-SWEET-Contributors

[2019-12-13 08:24] nicholascar opened #41 "Create Windows executable"
See if *pyinstaller* can do this

[2019-12-13 08:28] nicholascar commented on #33
Ensure that the pip distribution includes the cli

[2019-12-13 08:28] nicholascar commented on #31
Done

[2019-12-13 08:28] #31 closed

[2019-12-13 08:31] nicholascar commented on #16
I can’t remember or reproduce this issue so I assume it’s been fixed.

[2019-12-13 08:31] #16 closed

[2019-12-13 08:32] nicholascar commented on #23
Th re is now a JSON API to invoke pyLODE as a web service at https://kirrawong.net/pylode-online

[2019-12-13 08:32] #23 closed

[2020-01-28 12:38] jyucsiro commented on #41
See #42

[2020-01-30 04:01] dr-shorthair commented on #41
See https://github.com/CSIRO-enviro-informatics/loci.cat/issues/45#issuecomment-579589882

[2020-01-30 04:02] dr-shorthair commented on #21
See #41

[2020-01-30 04:07] dr-shorthair opened #43 "Handle ORCIDs in dcterms:creator/contributor"
Where the value of a `dcterms:creator` or `dcterms:contributor` is a URI, such as an ORCID, pyLODE is rendering "none". Better to put a hyperlink.

[2020-01-30 11:30] dr-shorthair opened #44 "Add rendering for dcterms:source in ontology metadata"
Text or HTML at least.

[2020-01-30 22:57] jyucsiro commented on #41
Also see PR #42

[2020-01-30 23:09] dr-shorthair opened #45 "Add rendering for (named) individuals"
Trying to use pyLODE to document a small controlled vocab.
The individuals (only 11 of them) are not appearing in the generated documentation.

source https://github.com/AGLDWG/asgs-ont/blob/master/asgs-cat.ttl

[2020-01-31 03:42] dr-shorthair opened #46 "Add rendering for Datatypes"
Datatype definitions are not showing in pyLODE documentation.
e.g. https://github.com/AGLDWG/asgs-ont/blob/master/asgs-code.ttl

[2020-02-02 05:09] nicholascar commented on #41
Done in https://github.com/RDFLib/pyLODE/commit/acd75acddcda32f953704c2c3f7854a837f633a2

[2020-02-02 05:09] #41 closed

[2020-02-02 05:15] nicholascar commented on #26
Closing this since we can now export to Markdown and that can then easily be printed into nice-enough PDFs.

[2020-02-02 05:15] #26 closed

[2020-02-02 09:30] dr-shorthair opened #47 "Add rendering for owl:inverseOf"

[2020-02-04 00:05] dr-shorthair opened #48 "Add rendering for skos:example"
`skos:example` is a good place for inline code examples within Ontology documentation.
e.g. https://github.com/CSIRO-enviro-informatics/geosparql-ext-ont/blob/master/geox.ttl

[2020-02-08 07:19] nicholascar commented on #10
Done, a long time ago!

[2020-02-08 07:19] #10 closed

[2020-02-08 07:20] nicholascar commented on #21
Done' thank you Jonathan!

[2020-02-08 07:20] #21 closed

[2020-03-14 12:23] nicholascar commented on #48
Addressed in [release 1.8](https://github.com/RDFLib/pyLODE/releases/tag/1.8).

Windows binary not rebuilt.

[2020-03-14 12:23] #48 closed

[2020-03-14 12:31] nicholascar commented on #48
This is demonstrated in a now updated GeoX Ontology: <http://linked.data.gov.au/def/geox>

[2020-03-15 03:19] nicholascar commented on #47
done in commit https://github.com/RDFLib/pyLODE/commit/aec20ed931876521ae2eebe2bccbd464d2e99070, also `owl:equivalentProperty`

[2020-03-15 03:19] #47 closed

[2020-03-15 03:44] nicholascar commented on #46
Can you find me a better ontology to test with? I can only see 1 x ^^rdf:HTML & 1 x ^^xsd:boolean in that ont.

[2020-03-15 04:31] nicholascar commented on #44
Renders both URI and text, as of commit https://github.com/RDFLib/pyLODE/commit/cf27eeda5028c2de5a2329e28a3230aae9225ce9

[2020-03-15 04:31] #44 closed

[2020-03-15 05:19] dr-shorthair commented on #46
Sorry - https://github.com/AGLDWG/asgs-ont/blob/master/asgs-code.ttl is deprecated. I should have pointed you at https://github.com/AGLDWG/asgs-ont/blob/master/asgs-id.ttl

It also has a bunch of additional axioms (constraints) for classes that are primarily defined in one of the imports ...

[2020-03-15 05:32] dr-shorthair commented on #45
I suggest that any RDF resource whose `rdf:type` is anything other than `owl:*Property`, `owl:Class`, `owl:DeprecatedClass`, `rdf:Property`, `rdfs:Class`, `rdfs:Datatype`, should be rendered as an 'OWL Individuals' . This would include anything that is `owl:Thing`, owl:NamedIndividual`, `rdf:Statement`, `rdfs:Resource` and not also one of these classes.

[2020-03-16 03:33] dr-shorthair commented on #48
@jyucsiro is it trivial to rebuild the windows binary?

[2020-03-16 23:09] jyucsiro commented on #48
@dr-shorthair it's trivial for me to rebuild it. See attached zip file below.

it would be worth thinking about using a continuous build process like Travis. It supports building windows binaries - see https://docs.travis-ci.com/user/reference/windows/

[pylode.zip](https://github.com/RDFLib/pyLODE/files/4340742/pylode.zip)

[2020-03-26 00:05] dr-shorthair opened #51 "pylode.exe broken"
The link to pylode.exe here https://github.com/RDFLib/pyLODE#use does not find anything

[2020-04-04 13:17] koslambrou commented on #33
#52

[2020-04-04 14:50] koslambrou opened #53 "Hyperlinks in generated Markdown don't work"
This issue concerns the generated Markdown format.

For example, in the table of contents section, clicking on "Classes" won't jump to the right section. This is because there isn't a `<section id="classes">` in `Markdown`.

Any solutions for this ?

[2020-04-04 14:56] koslambrou opened #54 "Possible enhancement : generate JSON from ontology"
Use case: Useful when trying to build a custom HTML/CSS to render. When wanting to use frameworks such as SemanticUI or Bootstrap, classes need to be added in HTML elements in order to apply style.

The generated JSON could be used in a HTML template library (Pug.js, React, etc.) in order to generate the desired view and style.

What do you think ? Useless there is currently a way to do this.

[2020-04-10 02:40] #53 closed

[2020-04-13 23:03] nicholascar opened #56 "Remove NamedIndividuals section if non present"

[2020-04-14 01:24] dr-shorthair commented on #45
#56 is the complementary issue

[2020-04-14 07:54] nicholascar commented on #45
I've added a listing of Named Individuals now functionality. See AGRIF's new rendering for an example:

* **http://linked.data.gov.au/def/agrif**

[2020-04-14 07:54] #45 closed

[2020-04-14 07:56] nicholascar commented on #45
Actually, I've only added simple rendering of NIs catering for a few properties, not all the suggestions above (`rdf:Statement`, `rdfs:Resource` etc.) but will get there! Just need to do a few other pyLODE tasks first.

[2020-04-14 07:57] nicholascar commented on #56
Fixed in commit https://github.com/RDFLib/pyLODE/commit/f119f3a8095d1752236b4607025d3b7343a3f1e8

[2020-04-14 07:57] #56 closed

[2020-04-14 10:17] nicholascar commented on #54
@koslambrou I know how React & Pug work but I'm not very familiar with them so while I have no problems with extensions to pyLODE to generate data for these systems, I'm not really in a position to make such enhancements myself.

If you wanted to support Bootstrap etc, feel free to make a PR to include additions to the templates or the build processes! There's already a build function for generati

[2020-04-14 10:21] nicholascar opened #58 "Create link to ORCID & use ORCID icon for people"
When a person (a `dcterms:creator`, `dcterms:contributor` etc.) is referred to via a URI, currently the name, email address & affiliation of the person is show but not the URI! If the URI is an ORCID, a link to it should be made and using the ORCID icon, as scientific papers do.

[2020-04-14 10:21] nicholascar commented on #43
This has been handled for a long time now, e.g. http://linked.data.gov.au/def/geofeatures which uses the ORCID of two creators (me & John M.) to link our names, emails & affiliations.

What's missing is the ORCID image and link to the ORCID location itself! I've created Issue #58.

[2020-04-14 10:21] #43 closed

[2020-04-17 05:28] Simo-climb opened #59 "namespaces not found in imports from rdflib.namespace"
Howdy

I just pulled the latest version and when trying to run I got errors saying that PROV, and SDO names were not found in the rdflib package namespace.py.

On inspection is does seem they are absent in that script..... but don't trust my noob python skills.

Received the following error in pycharm

[code]

And perhaps related....... I was unable to run the windows executable and maybe this was

[2020-04-19 04:43] nicholascar commented on #59
Hi @Simo-climb sorry, my bad: sorry but I've been using the latest rdflib release (`master` branch code), not the stable rdflib 4.2.2 as on PyPI. rdflib 5.0.0 was release yesterday (!!) and that *does* contain SDO & PROV so if you pip update your rdflib to 5.0.0, this issue should go away.

Please let me know if this is the case and close this Issue: I really want to make sure pyLODE s working wel

[2020-04-19 08:20] #58 closed

[2020-04-19 08:27] nicholascar opened #61 "Automate generation of executable"
In bin/ there is a pylode.app (Mac), pylode.exe (Windows) & pylode.sh (Linux) executable. They are currently not rebuilt with each push or release but they should be!

[2020-04-19 22:50] nicholascar opened #62 "Document profiles separately"
We now have two profiles for documentation, OWLP & SKOSP, and they do different things. They need to be documented separately.

[ ] blend SNIPPETS content into README
[ ] document OWLP - what it knows
[ ] document SKOSP - what it knows
[ ] document SKSOP transformation - what it can extract from OWL

[2020-04-19 23:59] Simo-climb commented on #59
Thanks Nick

Yep updating rdflib to 5.0.0 resolved this.

S

[2020-04-19 23:59] #59 closed

[2020-04-20 00:06] Simo-climb opened #63 "need to refactor cli.py to reflect updated docprofiles filename and PYLODE_owl and skos profiles"
Hey Nick

looks like you need to adjust the filename reference of profiles to docprofiles in cli.py to correctly reference docprofiles.py.

Also within docprofiles.py you have added the prefix PYLODE_ to the owl and skos profiles, so these also require updating in cli.py

need to change line 8 in cli.py
from

`from profiles import OWL_PROFILE, SKOS_PROFILE`

to

`from docprofiles import PYLODE_OWL

[2020-04-20 00:24] nicholascar commented on #63
Done, as of a commit a few hours ago. I'll just push a full release to PyPI & GitHub now.

[2020-04-20 00:27] nicholascar commented on #63
https://pypi.org/project/pyLODE/2.1/

[2020-04-20 00:30] nicholascar commented on #54
@koslambrou I've refactored the pyLODE codebase a lot in the last few days to tidy up the separation between the various profiles (types) and formats (currently HTML and Markdown) of documentation that are generated. This means it is now easier to add in new profiles or formats and you might be able to do so for JSON! I have also had a request for reStructuredText which could be yet another format

[2020-04-20 00:37] nicholascar commented on #46
@dr-shorthair if your interest is in pretty HTML for ORCID, as per:

[code]

Then try the 2.1 release of pyLODE now as it caters for ORCID logo when an ORCID for a person is used, see the [example AGRIF output](https://raw.githack.com/RDFLib/pyLODE/master/pylode/examples/agrif.html).

This means you characterise a person as

[code]
...which is orders of magnitude better Semantic Web data than jamm

[2020-04-20 01:21] nicholascar commented on #34
OK, finally some real progress here! See these two documented versions of the AGRIF ontology in Markdown - OWL (as an ontology) & SKOS (as a taxonomy):

* https://github.com/RDFLib/pyLODE/blob/master/pylode/examples/agrif.md
* https://github.com/RDFLib/pyLODE/blob/master/pylode/examples/agrif.skos.md

The Markdown is much cleaner - far less HTML - but the fragment URIs still aren't working. that's

[2020-04-20 01:36] dr-shorthair commented on #46
Indeed. The `rdf:HTML` was a stop-gap. It is appropriate for things like `dc:description` and `skos:definition` but a poor facsimile of structured data elsewhere.

[2020-04-20 01:40] nicholascar commented on #46
So I think we are close to being able to bypass all the cases you have been using the embedded HTML for. If you can list all the cases (Agent links + ORCID; text markup (descriptions) then I'll check off the ones we can bypass and close this when all are done.

[2020-04-20 01:48] Simo-climb commented on #63
cool.

[2020-04-20 01:48] #63 closed

[2020-04-20 02:00] dr-shorthair commented on #46
Does this discussion belong in #30 ?

[2020-04-20 02:51] nicholascar commented on #46
OK, well closing this as the main issue - handling/bypassing of links - is done and leaving #30 open to deal with rendering HTML for formatted text.

[2020-04-20 02:51] #46 closed

[2020-04-20 06:56] businessabstraction opened #64 "throws an error because of "import .makedocco import *""
Whether you want import pylode into Python, or execute pylode (in this case, under Linux), it throws an error.
Python 3.7

[2020-04-20 13:29] nicholascar commented on #64
Thanks for the note @businessabstraction (Alex!). I've really struggled with getting Python 3 imports correct for both the CLI scripts and the Python modules and clearly haven't solved everything yet.

I'll try and fix this ASAP.

Would love a Pull Request if you can suggest a working formula...

[2020-04-20 23:53] nicholascar commented on #64
I have pushed a new release of this code both here to GitHub and also to PyPI ([2.2](https://pypi.org/project/pyLODE/2.2/) and hopefully now all import issues are solved. Please check and, if they are, close this Issue.

[2020-04-25 01:53] koslambrou commented on #64
Seems related, but after installing pylode with `python3.7` and running `pylode`:

[code]

[2020-04-26 04:55] nicholascar commented on #64
@koslambrou OK, I've just replicated that and will try and solve now. So many import issues...

[2020-04-27 18:28] hammar opened #65 "skos:historyNote Markdown support"
Per the readme, skos:historyNote annotations on the ontology should have Markdown support -- but that's not working for me. E.g., in RDF/XML:

    <skos:historyNote xml:lang="en">## Version 3.1.1 is a minor release of REC that contains:

    * The official REC REST API (see the api/REST subdirectory)
    * O2O annotations used by the OWL2OAS generator when building that API.
    * Spelling fixes.

[2020-04-28 03:50] nicholascar opened #66 "Allow OWLP profile to show Class/Propertie hierarchies"
The SKOSP profile can show the `broader`/`narrower` Concept hierarchy of a SKOS taxonomy and yet the OWLP profile only shows lists for `Class`/`Properties` which have hierarchical relations between them (`subClassOf`/`subPropertyOf`). Allow OWLP to draw the `Class`/`Propery` indexes as hierarchies too.

[2020-04-28 03:55] nicholascar commented on #65
No: you have it right. Markdown rendering's only enabled on some property values where it's expected e.g. Description/Definition but I've not so far enabled it for `historyNote`.  No real reason for that so I've enabled it just now with Commit https://github.com/RDFLib/pyLODE/commit/95043cd2418d14614f25e75df1a07951a401c982. So that functionality's there now in `master` but obviously not yet there

[2020-04-28 06:58] dr-shorthair commented on #65
Markdown should be enabled on
- rdfs:comment
- skos:note and sub-properties
- skos:definition
- dc:description / dcterms:description

[2020-04-28 07:00] dr-shorthair commented on #65
I also found that the description on an Ontology was handled differently to the description on all the other resources - though that was the `.exe` that is currently in the repo, which is a month old now.

[2020-04-28 07:40] dr-shorthair opened #67 "skos:example need to be formatted as <code>"
The contents of `skos:example` must be escaped using
\```
`formatted example code here`
\````
in the **Markdown** version, or
\<code> formatted example code here \</code>
in the **HTML** version

[2020-04-28 07:48] dr-shorthair opened #68 "Markdown / rdf:HTML support"
Markdown and|or `^^rdf:HTML` literals should be enabled on the following properties uniformly:

- rdfs:comment`
- skos:note` and its sub-properties (including `skos:definition`)
- `dc:description` / `dcterms:description`

On the overall `owl:Ontology` these are relatively straightforward.

For the classes, properties, and individuals it is a bit more tricky as the formatted block appears within th

[2020-04-28 07:48] dr-shorthair commented on #68
Superset of #65

[2020-05-07 22:35] carueda opened #71 "Alphabetical order of elements?"
First off, great tool.

While testing an installation of pyLODE for the COR today, I just note that the order of list elements is not "consistent".

Example with http://cor.esipfed.org/pylode?url=http://sweetontology.net/phenAtmo and only paying attention to the imports:

Just reload the page and you're likely to get a different order:

Of course, the different order doesn't mean anything wrong wi

[2020-05-08 02:21] dr-shorthair commented on #67
Or maybe <pre>

[2020-05-11 15:58] lewismc opened #72 "Clarify expected attributes rather than returning internal server error(s) in response"
@nicholascar this is some feedback I gathered through the process of deploying pyLODE at cor.esipfed.org/pylode

@carueda can you please provide an example?

[2020-05-11 16:07] carueda commented on #72
Thanks @lewismc for entering this. I saw this while testing the pyLODE deployment but didn't capture the actual stacktraces. Will try to do that next.

But an example right now, with a recent submission, is  http://cor.esipfed.org/ont/~artanosebi/tocana which is displayed ok on the COR interface (btw, ignore the "LODE" button there as it's the old one), but not via pyLODE, http://cor.esipfed.org/p

[2020-05-11 16:10] carueda commented on #72
Here it is:

[code]

[2020-05-11 22:57] nicholascar commented on #72
OK, so the error it generated here was *Your ontology does not indicate any form of label or title.*. Title's one of the very few one of the very few *must have* elements! Usually, if something else is missing, it just doesn't create that snipped of documentation.

I'm going to start adding in pre-documentation  validation with SHACL files so you can say "document this, only if it validates" and i

[2020-05-12 03:51] nicholascar commented on #71
Yes, I suppose most of the ontologies don't have very long lists of things like imports so this hasn't come up yet, but SWEET sure does so here's the issue! I guess there's noting preventing the addition of ordering so I'll try and put a `sort()` in there to fix this and will come back to this issue when I do.

[2020-05-12 15:50] carueda commented on #72
Thanks @nicholascar ,  Yes, I'd say that's preferable in general.  In any case, imo the tool should react in a more graceful way.   Wdyt @lewismc ?

[2020-05-12 17:13] lewismc commented on #72
+1

[2020-05-12 22:51] nicholascar commented on #72
One thing the tool does now - and this can be changed - is to put a black box in the HTML to indicate that's where someone might put an image. In the case of a missing title, should I put in the text YOUR TITLE HERE to prompt for it or should I just leave it blank? I like the idea of really hassling people into doing the right thing, hence the current Error on no title.

[2020-05-12 23:03] graybeal commented on #72
I like the ideas but would appreciate more subtlety. Keep in mind not every ontology may specify its title or image with the same annotations.

Images are likely to be very uncommon at first, so at *most* i'd put an empty white box with delicate 10% gray lines for the picture.

For the title, I think it is more useful to explicitly show the lack of a title. Perhaps a 75% gray italicized
_{No title

[2020-05-13 07:45] dr-shorthair commented on #51
Probably related to #61

[2020-05-13 23:12] nicholascar commented on #72
My major use goal for pyLODE is to improve ontology annotations! If someone wants to document an ontology but doesn't include basic annotations.... just no!

I agree we don't necessarily have to completely fail when certain annotations are missing but I think we really should *strongly* indicate that the annotations should be added. Use to date of pyLODE has seen experienced ontologists (with firs

[2020-05-13 23:20] graybeal commented on #72
I think you misunderstood my point. I was trying to say that there are many members of the semantic community who have been working over the last 15 years in good faith to produce good ontologies, with good annotations. The standards AND the best practices have changed multiple times over that period. Assuming that the latest specification/recommendation is THE ONLY way to do annotations may leave

[2020-05-13 23:29] nicholascar commented on #72
Partly addressed addressed by Commit https://github.com/RDFLib/pyLODE/commit/ff46a7a5b9c0d7480a033a287a7a2f31f4173713

See example of the AGRIF ontology with no image or title: https://raw.githack.com/RDFLib/pyLODE/master/pylode/examples/agrif-notitle.html

I get that. The major fix for this, in terms of what pyLODE can do, is to allow different *profiles* to be used. So far I've only enabled a so

[2020-05-14 17:49] carueda opened #73 "Incorrect base in URL to "Ontology RDF""
When an ontology is dispatched via an explicit pylode service (that is, not via some proxy mechanism, see below), e.g.:

http://cor.esipfed.org/pylode?url=http://sweetontology.net/matr

the "Ontology RDF" link turns out pointing to the location where the pylode service itself is running,
`http://cor.esipfed.org/matr`, which is incorrect:

![image](https://user-images.githubusercontent.com/556505/8

[2020-05-16 22:25] rrovetto opened #74 "Display all user-generated Annotations"
Please add the functionality allowing pyLODE to automatically recognize and display all user-generated annotations.

[This page ](https://github.com/RDFLib/pyLODE/#what-pylode-understands) lists what's currently recognized from rdfs, skos, etc.  And I understand that users can create profiles to allow pyLODE to recognize others, but I believe it would be very helpful to all users if pyLODE could a

[2020-05-17 12:30] nicholascar commented on #74
@rrovetto I don't think I can do that!

Some of the precursor tools to pyLODE took the approach to allow any annotations but this leads to three issues:

1. difficulty in processing ontologies
    - catering for any graph pattern requires difficult code
2. bad presentation
    - catering for any graph shape requires potentially endless UI elements and least to overly complex web pages
3. loose ont

[2020-05-17 12:30] #74 closed

[2020-05-17 13:00] nicholascar commented on #73
I think I've fixed this with Commit https://github.com/RDFLib/pyLODE/commit/83e5dd17396a969e84cdadb799e92ee5656d1bb8.

Basically, if the ontology's source is a URI, as it always us when using the Falcon server, use that as the RDF source's location. If it's a file, use that.

[2020-05-17 13:00] #73 closed

[2020-05-17 13:15] nicholascar commented on #72
Further addressing part of this Issue by auto-removing Overview image from HTML if served by Falcon since an Overview image can never be auto-generated by pyLODE in https://github.com/RDFLib/pyLODE/commit/24504673ca75a6481b59fee6a74ab49d1a1553ab.

[2020-05-17 13:22] nicholascar commented on #71
Addressed by Commit https://github.com/RDFLib/pyLODE/commit/2dc06c4ba9677d2863fe7206da410b95e0ef9ed7

[2020-05-17 13:22] #71 closed

[2020-05-17 14:27] nicholascar commented on #67
Addressed by https://github.com/RDFLib/pyLODE/commit/66c58c1c76d3cc22ea44d1aa4311d84b860377a2

This was quite hard to work out for Markdown! Super easy for HTML...

[2020-05-17 14:27] #67 closed

[2020-05-17 21:50] carueda commented on #73
thanks @nicholascar !

 @lewismc let's keep this in mind for verification when the pylode instance @ COR is updated.

[2020-05-17 23:11] dr-shorthair commented on #67
Yeah - Markdown table formatting is very limited. You have to embed HTML \<br/\>to make any sense.

[2020-05-17 23:12] dr-shorthair commented on #67
(Now just need someone to regenerate the Windows .exe for me ... - @jyucsiro ?)

[2020-05-19 07:07] jyucsiro commented on #67
@dr-shorthair just updated to the latest version on master. See link below:
[pylode.zip](https://github.com/RDFLib/pyLODE/files/4648756/pylode.zip)

[2020-05-20 00:51] dr-shorthair commented on #51
@jyucsiro rebuilt the windows exe - see https://github.com/RDFLib/pyLODE/issues/67#issuecomment-630628356 but it is throwing the following error:

[code]

[2020-05-20 01:20] jyucsiro commented on #67
@dr-shorthair try again. addressing #51
[pylode.zip](https://github.com/RDFLib/pyLODE/files/4654085/pylode.zip)

[2020-05-20 01:34] dr-shorthair opened #75 "Escape carats in examples"
Following on from #67, angle-brackets in code given in `skos:example` must be escaped for rendering in HTML.

[2020-05-26 17:48] lewismc commented on #72
@nicholascar has any commit resulted from this work yet? If so I can update pyLODE in our ESIP system. Thank you

[2020-05-26 21:56] nicholascar commented on #72
@lewismc yes, there are a series of commits addressing this and making a few other improvements now, such as an addition to your Falcon code to remove the unsightly image blocks when auto-generating documentation. I've gone one better than commits though: there's a new 2.4 release now that you can use (or just `master`).

[2020-05-26 21:56] #72 closed

[2020-05-26 21:56] nicholascar commented on #75
Addressed in release 2.4

[2020-05-26 21:56] #75 closed

[2020-05-26 21:57] lewismc commented on #72
Excellent. We'll upgrade. Thank you 👍

[2020-05-27 00:21] dr-shorthair commented on #61
Anyone game to explore this?

[2020-05-27 00:26] nicholascar commented on #61
I've added a latest Windows exe and a Mac App file. Not exactly auto but they are up to date this morning as of pyLODE 2.4.

I can generate Windows files now (a new laptop) but if there was an automated process, that would be nice. Certain build systems do do this - @jyucsiro?

[2020-05-27 00:31] carueda commented on #61
Just came across this ticket and thought I'd just mention that, although I'm not familiar at all with how things are set up in this project, what about using gihub actions ttps://github.com/features/actions?

[2020-05-27 00:39] nicholascar commented on #61
I think that's likely the way to go. I'll try and get a chance to look into it but I believe that Actions does loads of things like making executables, I've just not used it yet!

I don want something like this in place to rebuild the exe files at least per GitHub & PyPI release.

[2020-05-28 00:11] dr-shorthair commented on #61
Unfortunately 'latest Windows exe' is missing something -
![image](https://user-images.githubusercontent.com/608303/83084144-7762f280-a0cb-11ea-8ffd-f33fecae2dcf.png)

This problem has occurred before #51

[2020-05-28 00:11] dr-shorthair commented on #51
Broken again :-( some library keeps getting not included ... (Nick rebuilt it #61)
![image](https://user-images.githubusercontent.com/608303/83084082-48e51780-a0cb-11ea-9a87-fbccd043839e.png)

[2020-05-28 00:17] nicholascar commented on #51
Oh, I think this isn't that a library's not being included (since I'm using the same spec file for the EXE as @jyucsiro) but that there's a problem with the way paths are bing handled within code - it seems unable, in Windows or Mac or Linux - to write to a directory other than current. So try running the EXE from the directory that the RDF file is in, i.e.

[code]
(no paths for the -o data)

This

[2020-05-28 00:27] dr-shorthair commented on #51
I did that first, and just tried again without paths And if you look at my CL you'll see that I'm sitting in the directory where it is.

@jyucsiro managed to overcome this problem last week when he rebuilt it for me.

[2020-05-28 00:28] nicholascar commented on #51
OK, I might call Jonathan and ask about this then as I can't work out the issue!

[2020-05-28 00:44] jyucsiro commented on #51
Hi all, apologies. meant to push a PR. here it is:
https://github.com/RDFLib/pyLODE/pull/76

[2020-05-28 04:29] dr-shorthair opened #77 "Add rendering for Datatypes"
#46 got sidetracked and the main issue got lost.

Datatypes need to be documented too. Examples:
- https://github.com/CSIRO-enviro-informatics/geosparql-ext-ont/blob/dggs-issue7/geox.ttl#L77
- https://github.com/AGLDWG/asgs-ont/blob/master/asgs-id.ttl#L605 etc

[2020-05-31 12:06] dr-shorthair opened #78 "Encode non-latin chactersets"
Attempted to generate documentation for an ontology which included some text in Chinese- failed with a message about the character map. (Problem went away when I removed the Chinese).

Here is an example RDF file: https://github.com/CGI-IUGS/timescale-data/blob/master/rdf/isc2019.ttl

[2020-05-31 12:11] dr-shorthair opened #79 "Union classes"
Union classes within Restrictions are not rendered.
e.g. https://github.com/CGI-IUGS/timescale-ont/blob/owltime-issue2-3/rdf/gts.ttl#L66 within the local restriction

[2020-06-02 21:44] lewismc opened #80 "Embed Google Analytics in pyLODE"
We would like to activate Google Analytics on pyLODE in an attempt to obtain more holistic usage insights. I have no idea where this would be added in pyLODE... @nicholascar can you help me pinpoint this?
Thanks

[2020-06-02 21:53] nicholascar commented on #80
In the file *server.py*, there is already a post-HTML generation tidy-up, see https://github.com/RDFLib/pyLODE/blob/701bcb6cbe4cc79c50ca02a7f203ac9f4f7e5b3a/pylode/server.py#L12. It just hides the placeholder image since you can’t add in a hand-made image when auto-generating docs via Falcon.

Since your Google Analytics code will be instance-specific, I suggest you branch pyLODE making a SWEET br

[2020-06-03 06:19] smarie commented on #64
I'll try to help with a PR

[2020-06-03 17:56] lewismc commented on #80
Thanks @nicholascar I'm going to see if there is a more elegant way to inject this parameter... maybe a [Dockerfile](https://docs.docker.com/engine/reference/commandline/build/#options) with a `build-arg`. I'll try there and see how far I get.

[2020-06-03 20:16] carueda commented on #80
Agree, this should not require a fork, but just some local configuration file that can be customized in a particular installations: pyLODE would consume such config file, for example to include a snipped in the generated HTML with the google analytics stuff.  (Other uses also become possible in a more flexible manner.)

[2020-06-03 21:17] nicholascar commented on #80
I look forward to seeing fancy solutions here! I’ll do what I can to help.

[2020-06-04 13:08] smarie commented on #37
On this topic of generating the diagram

 - this example in the readme has a neat diagram: https://raw.githack.com/agldwg/agrif-ont/master/agrif.html#overview . Do you know with which library it was generated ? The look and feel is great.

 - a great addition could be to make a link with interactive webvowl navigation, for example when the user clicks on the diagram. I opened a thread on webvowl t

[2020-06-04 17:27] graybeal commented on #37
Something to keep in mind with respect to this request is that pyLODE may be used on ontologies of all sizes. before deciding which ontology generator to use it may be worth looking at how well it handles large ontologies. (I know that's not very concretely helpful but I wanted to note the consideration at least.)

[2020-06-05 02:29] F3RR3T opened #82 "Feature: Auto-update 'date modified' in ontology when generating html|md"
### Situation
Within an 'Ontology' object, there is a 'date modified' literal:

    <http://linked.data.gov.au/def/phs> rdf:type owl:Ontology ;
       owl:versionIRI <https://...> ;
        ...
        dcterms:modified "2020-05-15"^^xsd:date ;
        ...

It is good practice for (human) editors to update this value when they have made some changes, but it is a task that is easily forgotten.

###

[2020-06-05 02:31] F3RR3T commented on #82
Add 'Enhancement' tag

[2020-06-05 13:56] smarie commented on #37
For reference, Here is an illustration of the Webvowl approach: https://doc.realestatecore.io/3.1.3/core.html

[2020-06-10 03:45] #51 closed

[2020-06-10 03:52] dr-shorthair opened #84 "Add rendering for complements, unions within Restrictions"
e.g.
1. https://github.com/GeoscienceAustralia/Place-Names/blob/master/placenames.ttl#L176 - Manchester syntax `not (status value informal)`
2. https://github.com/CGI-IUGS/timescale-ont/blob/master/rdf/gts.ttl#L62 - Manchester syntax `time:intervalContains exactly 0 (gts:Epoch or gts:Age or gts:Sub-Period or gts:Period or gts:Era or gts:Eon or gts:Super-Eon)`

[2020-07-06 22:40] Pzangeneh opened #86 "Creating HTML id based on entity itself and not the rdfs:label"
Is it possible to somehow create HTML id as the actual entity IRI instead of the rdfs:label.

For example, [here ](https://raw.githack.com/agldwg/agrif-ont/master/agrif.html#prerequisiteDecisionEvent)requesting the actual the term IRI is "**has**PrerequisiteDecisionEvent" but it returns nothing since the HTML id is created after the rdfs:label  "#prerequisiteDecisionEvent"

https://raw.githack.com

[2020-08-10 20:31] lewismc opened #87 "Internal Server Error when processing resource"
We have pyLODE master branch running as a service at http://cor.esipfed.org/pylode

The following resource triggers an **Internal Server Error**

 http://cor.esipfed.org/pylode?url=http://cor.esipfed.org/ont/api/v0/ont%3Firi=http://purl.dataone.org/provone/2015/01/15/ontology%23

This does not generate any log so I am struggling to debug what the issue actually is.

I know the service is stable an

[2020-08-10 22:55] graybeal commented on #87
Have another look at your identifier after the 'iri='. I don't think it's valid.

[2020-08-10 23:40] graybeal commented on #87
We've been having a long chat on the slack channel where Lewis brought this up. The identifier of the ontology (not just the namespace) ends in # (which I think is goofy but I won't out-argue the W3C). So when we escape the # in COR I believe the purl resolver is not reconstituting it into a #.  I'm not making the argument that the purl resolver is wrong; I'm just not sure what the right answer is

[2020-08-10 23:46] graybeal commented on #87
But maybe once we figure out what pylode gets from the purl server, you can handle it with something that mentions the purl server error, to take the heat off of pylode. :-)

[2020-08-13 17:27] carueda commented on #87
@nicholascar The cause of the issue is a missing URL-encoding for a proper request in this line:

https://github.com/RDFLib/pyLODE/blob/c9581dbc1df0caa0d8f823872dafd2e47e476435/pylode/common.py#L103

In our local pyLODE copy I just added a line with the specific `#` -> `%23` replacement:

![image](https://user-images.githubusercontent.com/556505/90166604-5b2c3480-dd4f-11ea-91bd-fcb8cb678f48.png)

[2020-08-13 18:06] lewismc commented on #87
I'll submit a PR shortly @carueda thank you.

[2020-08-14 20:11] carueda opened #88 "Internal server error not user-friendly at all"
Simply put, pyLODE should handle invalid input gracefully.

http://cor.esipfed.org/pylode?url=INVALID :

Along with any internal logging or stack traces, the exposed output should indicate what went wrong at least in general terms for the more casual visitor, for example, indicating the the URI could not be resolved, or that it was not resolved to an unrecognized format, etc.

[2020-08-18 06:18] edmondchuc opened #91 "`skos:scopeNote` aka Usage Note does not render markdown."
Tested in pylode 2.8.3 where other fields such as `skos:definition` renders markdown correctly, `skos:scopeNote` does not.

See image:
![https://i.imgur.com/NO1hpFB.png](https://i.imgur.com/NO1hpFB.png)

[2020-08-19 05:59] edmondchuc opened #92 "OWL properties only render description with rdfs:comment but not skos"
Only text that are in the `rdfs:comment` property show in the HTML output. I've tested using `dcterms:description` and `skos:definition` and they both don't show the value. This is on pylode 2.8.3.

My theory is the graph expansion at https://github.com/RDFLib/pyLODE/blob/bf1fdb268fbbf60f5d909922951793b283635077/pylode/profiles/ontdoc.py#L258 expands it by adding the additional values with the `dc

[2020-08-19 07:59] dr-shorthair commented on #92
I noticed it was inconsistent.
We should see any (all) of `dcterms:description`, `dc:description`, `rdfs:comment`, `skos:definition`,
and preferably also `skos:note`, `skos:scopeNote`, `skos:historyNote`, `skos:editorialNote`, `skos:changeNote`

[2020-08-19 07:59] dr-shorthair commented on #92
NB - these properties may contain content marked up as `rdf:HTML` in which case it should be passed through.

[2020-08-19 23:32] edmondchuc opened #95 "Any reason why fragment identifiers are not generated from the local name of the class/property's URI?"
For example, looking at the small datatype vocabulary, we can see the class [QuantitativeMeasure's](https://raw.githack.com/AGLDWG/datatype-ont/master/html/datatype.html#quantitativemeasure) fragment ID generated by pylode is `quantitativemeasure`, which is the value of the label. I personally think it makes more sense to use the local name of the URI so that the value would be `QuantitativeMeasur

[2020-08-20 01:42] graybeal commented on #95
Making that change also meets the expectations of most users for what a fragment identifier is meant to be, doesn't it? Because the label can be literally anything, but the fragment identifier is almost always used along the lines you've suggested, as far as I know.

[2020-08-20 15:04] koslambrou opened #96 "Remove argparse in requirements"
I suggest removing `argparse` from the `requirements.txt` since it is included in the standard library.

Acceptable ?

[2020-08-20 20:24] zednis opened #97 "AttributeError rendering concept hierarchy with vocpub profile (rendering a SKOS taxonomy)"
I am trying to generate a vocpub rendering of a SKOS taxonomy I manage.

I have used riot to verify that the taxonomy is a good RDF file and a SPARQL query to verify that
1. there are no cycles in the taxonomy
2. For every skos:broader there is a corresponding skos:narrower
3. All concepts with no skos:broader relation are skos:hasTopConcept of the ConceptScheme

When I run pylode with the vocpub

[2020-08-24 11:31] nicholascar commented on #96
@koslambrou thanks for the suggestion. I've removed `argparse` and am now removing other requirements too. If I shift all those requirements just needed for Falcon server implementations - `beautifulsoup4`, `falcon` & `gunicorn` - to a new file `requirements.server.txt` then `requirements.txt shrinks to just:

[code]

I can't remove `requests` since that's required by certain `rdflib` functions bu

[2020-08-24 11:32] nicholascar commented on #88
Yes, it should. I will try and improve internal error surfacing.

[2020-08-24 11:37] nicholascar commented on #82
It is entirely feasible but sorry but I don't think it's desirable. The documented version (HTML or MD) really does have to perfectly accord with the RDF version and this breaks that by setting the documented version to something other than the RDF version. It *may* work if a flag was set that both created a current modified date for the documented version *and* the source version, but allowing py

[2020-08-24 11:38] nicholascar commented on #80
Added by PR #83

[2020-08-24 11:38] #80 closed

[2020-08-24 11:45] nicholascar commented on #86
This has always been a tricky issue. I think pyLODE *should* generate fragment URIs from the data objects but I've just not quite worked out how to do this faithfully in cases when classes and properties might have clashing fragment parts (e.g. an ontology that has a property and a class with the same token when converted to lowercase, as PROV does with class `Activity` & property `activity` but P

[2020-08-24 11:47] nicholascar commented on #65
`skos:historyNote` has Markdown support, as of PR #94 now merged.

[2020-08-24 11:47] #65 closed

[2020-08-24 11:49] nicholascar commented on #33
Addressed and re-broken by a number of PRs but well and truly solved as of July 2020.

[2020-08-24 11:49] #33 closed

[2020-08-24 11:50] nicholascar commented on #34
Markdown is cleaner but fragment URIs aren't completed, however there's a separate Issue for that (#86), so I'm closing this to focus on that URI Issue.

[2020-08-24 11:50] #34 closed

[2020-08-24 11:52] nicholascar commented on #95
This is essentialyl a duplicate of #86 I think I have a way forward here: there were a couple of issues about doing the "obvious" thing but I've got a plan now, as articulated in #86, so I'm shutting this down to focus the discussion there.

[2020-08-24 11:52] #95 closed

[2020-08-24 11:54] nicholascar commented on #64
I've overcome all the import issues but haven't implemented the `__all__` directives - would love a hand with that! Will close this now though as the main import issues are done.

[2020-08-24 11:54] #64 closed

[2020-08-24 13:36] koslambrou opened #98 "Tests failing: no module named makedocco"
In current master branch, the tests with `pytest` are failing.

Steps to reproduce in GNU/Linux:

[code]

This produces the following output:

[code]

[2020-08-24 17:24] graybeal commented on #86
Fragment identifiers should not be used as ‘Real’ identifiers by themselves, for the reasons you identify. If you’re going to show them in some functional role, all the identifiers that have a different namespace should be prefaced by a ‘prefix:`string.

[2020-08-24 17:27] graybeal commented on #82
You could provide contextual metadata outside the content area that could show this kind of ‘about’ info, like your source IRI and branding into.

[2020-08-24 19:17] koslambrou opened #99 "Fetching ontology throught HTTP: uneeded output_files directory?"
Hi!

I installed the `pylode` package in a Nix store (a read-only directory).

After running the following command, I get an error:

[code]

After inspecting the code, it seems that the `publication_dir` when fetching through a URL is

[code]

There doesn't seem to be any for this directory.

Shouldn't the publication directory be specified throught the `-o` option in the CLI ?
In my case, I simpl

[2020-08-25 03:31] nicholascar commented on #96
I've tidied up the requirements.txt and implemented requirements.server.txt and the Dockerfile builder's adding in the extra packages from there so requirments.txt is now just:

[code]

[2020-08-25 03:31] #96 closed

[2020-08-25 03:45] nicholascar commented on #98
Ooops, tests were out-of-date regarding file locations. I've fixed this so try after pulling.

[2020-08-25 05:44] #2 closed

[2020-08-25 10:10] koslambrou commented on #98
Great, it works. Thanks!

[2020-08-25 11:13] nicholascar commented on #98
Yes, but there aren't really many good tests and some of the tests just produce outputs but don't really assert things in the way that will allow them to be used in proper build tools so please feel free to contribute more tests!

I'll close this now since the issue is resolved.

[2020-08-25 11:13] #98 closed

[2020-08-25 11:44] #99 closed

[2020-08-29 17:57] charlesvardeman commented on #37
The ontology diagram at  https://raw.githack.com/agldwg/agrif-ont/master/agrif.html#overview looks like it was generated by [CMap](https://cmap.ihmc.us/). Once upon a time, there was a CMap Ontology Edition (COE) but I don't think that is alive any longer. The source for the Webvowl approach is in the https://github.com/RealEstateCore/doc repository. Here is [the script](https://github.com/RealEst

[2020-08-29 20:31] smarie commented on #37
yes @charlesvardeman for our project I made a variant of the script you mention, it works perfectly. Note however that it requires that `owl2vowl.jar` (and therefore a local JVM) and the whole webvowl skeleton folder to be present. So this is maybe not something that you would like to embed into pyLODE, rather some recipe that you might wish to explain in the doc.

[2020-09-07 07:29] dr-shorthair commented on #61
Any chance of a manual re-build. The current .exe is 2.4

[2020-09-22 18:17] lewismc opened #102 "Docker build broken"
[code]

[code]

... working on fix now

[2020-11-11 10:02] nicholascar opened #104 "OntDoc profile not recognising prefLabel or definition for property"
See <https://linked.data.gov.au/def/su/ont>:

Source code for `su:descriptionPurpose` is:

[code]

But the HTML doesn't include the `skos:prefLabel` or the `skos:definition` values.

[2020-12-28 13:25] koslambrou opened #105 "AttributeError: module 'falcon' has no attribute 'App'"
After executing the following command:

[code]

I'm getting the following error message:

[code]

[2021-01-05 07:43] nicholascar commented on #105
I've just pushed an update to this GitHub and [pyLODE on PyPI](https://pypi.org/project/pyLODE/) that fixes this by using `api = falcon.API()` instead of `api = falcon.App()`. Not sure why that original form was used...

I've also updated the documentation for the Falcon server use and some of the HTML produced by the it to help with use.

[2021-01-05 07:43] #105 closed

[2021-02-05 03:07] VladimirAlexiev opened #106 "Change body style to left-justified"
Both-justified looks pretty badly on smaller screens.

![Screenshot_20210205-050456_Chrome](https://user-images.githubusercontent.com/536250/106984305-fb4b9f00-676f-11eb-86a9-4875f96ff8a2.jpg)

[2021-02-05 03:17] VladimirAlexiev opened #107 "Handle anon classes properly"
`owl:Restriction` is used very often as an anonymous (blank node) class. This should be rendered smartly, rather than printing the bnode I'd.

Eg examples/ssn.md shows this:
[code]

Isn't there some Manchester notation rendering code you can reuse?

[2021-02-05 03:26] VladimirAlexiev opened #108 "Handle SDO-style schemas"
schema.org doesn't use rdfs:domain and range.
Some other important ontologies have adopted this style. eg SSN, SOSA (according to @dr-shorthair), WOT TD.
Our euBusinessGraph SWJ paper describes the benefits of such lighter way approach.

Can you support this style in PyLODE?
See https://github.com/essepuntato/LODE/issues/12 for details, and https://github.com/essepuntato/LODE/issues/13 for more de

[2021-02-05 10:18] VladimirAlexiev commented on #108
https://github.com/RDFLib/pyLODE#annotations says that SDO props are supported:
- domains - rdfs:domain or schema:domainIncludes
- ranges - rdfs:range or schema:rangeIncludes

(as well as probably all the additional annotation props from my patch above).

But there's a bug then, compare:
- https://github.com/RDFLib/pyLODE/blob/master/pylode/examples/sosa.ttl#L87
- http://rawgit2.com/RDFLib/pyLODE/

[2021-02-05 10:28] VladimirAlexiev opened #109 "print defaults in cmd line help"
The `-h` option should state what are the default values of all parameters (`-p -c -q -f`)

[2021-02-05 13:53] VladimirAlexiev commented on #108
pylode bails on SDO with "Your RDF file does not define an ontology".
- Unquestionably, that's not a good practice: https://github.com/schemaorg/schemaorg/issues/2831
- But knowing how slow SDO have become in fixing things in the last 1.5 years, can pylode be more forgiving and work without `owl:Ontology` and `rdfs:isDefinedBy`?

[2021-02-05 14:14] VladimirAlexiev opened #110 "handle UTF-8 chars"
I added owl:Ontology and rdfs:isDefinedBy to schema.org (#108).

Now `pylode -i schema-with-added-ontology.ttl -c true -o schema.html`
fails with
`'charmap' codec can't encode character '\xa3' in position 654973: character maps to <undefined>`

It's on the pound sign in this comment: `balance between £1,000 and £1,000,000 GBP`.
The file is valid UTF-8 without BOM.

[2021-02-05 14:18] VladimirAlexiev commented on #110
test files: https://gist.github.com/VladimirAlexiev/d2ac78006c8066d1230121db158eaf13/archive/b8c70c52a28513578198484ad7bcf86ea75b045d.zip

[2021-02-05 15:35] VladimirAlexiev commented on #108
After removing all unicode chars:
[code]

It looks about ok, with the following fixes needed:
- handle `schema:domainIncludes, rangeIncludes`
- treat classes that are also `schema:DataType` as datatypes:
[code]
- handle dct:source, eg
[code]
- handle embedded HTML better. eg

[code]
is rendered as
[code]
In other words it parses the HTML and turns it to internal markdown, but then the markdown is

[2021-02-22 04:23] dr-shorthair commented on #61
Ping rebuild of the executables - now 8/9 months behind :-(

[2021-02-22 05:50] nicholascar commented on #61
I’m going to put out a new build tonight since a couple of useful updates have come through. I’ll also update https://pylode.surroundaustralia.com/

Nick

—
Dr Nicholas Car
Data Systems Architect
SURROUND Australia
0477 560 177
nicholas.car@surroundaustralia.com

[2021-02-23 07:12] nicholascar commented on #110
This issue seems to be fixed in the latest release, 2.8.6. I say "seems" because it appeared to be working already. A test has been created for this using the files given above, see https://github.com/RDFLib/pyLODE/blob/master/tests/test_issue_110.py.

[2021-02-23 07:13] nicholascar commented on #108
I'm looking in to this Issue now

[2021-02-23 14:08] nicholascar commented on #110
Reopening as issue still present on Windows (I just didn't see it on my Mac)

[2021-02-23 14:47] nicholascar commented on #61
Try pulling now @dr-shorthair: I have produced a v2.8.6 Windows binary

[2021-02-23 14:48] nicholascar commented on #61
I wish I was able to automate this but I do seem to have to tinker with pyinstaller each time I produce a Windows EXE (infrequent that that is)

[2021-02-24 05:46] dr-shorthair commented on #61
That's good, thanks @nicholascar

[2021-03-30 13:22] VladimirAlexiev commented on #108
Compare these examples:

- https://rawcdn.githack.com/euBusinessGraph/eubg-data/master/ontology/_old/index.html made with my patched LODE (which is available at https://github.com/euBusinessGraph/eubg-data/tree/master/ontology/_old, mostly extraction.xsl)
- https://rawcdn.githack.com/euBusinessGraph/eubg-data/master/ontology/doc.html made with PyLODE (made 14m ago)
- source: https://raw.githubuser

[2021-04-01 08:49] nicholascar opened #112 "Properties template in ontdoc is listing Property instances using slug, not label"
e.g.      type hadGenerationMethod hasPart isMemberOf isPartOf

instead of      type had generation method has part is member of is part of

[2021-04-01 08:53] nicholascar opened #113 "OntDoc generated empty NI list"
If no Named Individuals are present, the docco doesn't link to the NI section in the ToC but the NI section is still present, and empty.

[2021-04-09 00:45] nicholascar opened #115 "Support ASCIIDOC templates"
Enable ASCIIDOC templating for all profiles to allow OGC-style outputs

[2021-04-09 00:46] nicholascar commented on #102
I'm using Docker extensively at SURROUND (wasn't before) so I'll get back to this task shortly

[2021-04-09 12:32] hdelva commented on #18
We ran into an issue related to this, where ontologies that have labels in multiple languages result in mixed-language documents.

It seems relatively easy to fix though; `BaseProfile` already has a  `default_language`property, and filtering out all triples with a literal in a different language before assigning it to `self.G` seems to do the trick. It just needs some way to choose the language as

[2021-04-09 12:38] hdelva commented on #113
There is a `{% if named_individuals|length > 0 %}` check in `document.html`, but I'm fairly certain this check should be in `named_individuals.html`instead. The `named_individuals`in `document.html` is the rendered HTML string, which contains the empty section.

[2021-04-09 12:43] nicholascar commented on #18
I love PRs! I'm going to tackle PR #114 on Monday and PR #89's very old and needs feedback from the submitter, so I may close it. Then there will be no active PRs, so a clean field for you to submit one.

I'll be doing a lot of work on pyLODE in the next couple of weeks as we're using it in projects, so this is paid work, not voluntary stuff. This means I'll have scope to help you with a PR or to

[2021-04-09 12:45] nicholascar commented on #113
Yes, I think it's a very easy fix. I'll get on to this issue, and probably a number of other small ones, in the next fortnight as I'm running a pyLODE development sprint for a project starting Monday.

Love PRs to directly fix any identified Issues of course so feel free to submit one for this!

[2021-04-09 13:32] smarie commented on #113
That would be great!

[2021-04-09 14:38] smarie commented on #110
I have a similar issue but PyLODE does not error - instead the generated html page contains an invalid character.

My source file is an UTF-8 turtle file with accentuated french character "é"

[2021-04-09 14:40] smarie opened #116 "Provide a `--version` command"
It could be very useful to be able to do  `pylode --version` to quickly check that we are using the version we think we're using.
Note: of course I can get the version through pip or conda but it is less intuitive...

[2021-04-09 14:43] smarie commented on #110
My bad I was using PyLODE 2.4... :)

[2021-04-11 16:29] hdelva commented on #18
Created a PR with a simple solution that seems to be enough for my own needs, but I'll leave it up the experts to decide if this approach is the right way to go. If not, feel free to point me in the right direction and I'll change what's needed, eventually.

[2021-04-13 07:44] VladimirAlexiev opened #119 "cannot import name '__version__' from 'pylode'"
I use windows 10, cygwin, and python 3.7.

It seems I have pylode 2.8.5:
[code]
But when I try to print the version, I get this error:
[code]

Same happens from cygwin `bash` and windows `cmd`

[2021-04-13 08:07] VladimirAlexiev opened #120 "upgrading to 2.8.6"
As you can see in #119, `pip install pylode` doesn't upgrade 2.8.5 to any later version.

So I got https://github.com/RDFLib/pyLODE/archive/refs/tags/2.8.6.zip and unzipped pylode.exe to `c:\Users\vladimir.alexiev.000\AppData\Local\Programs\Python\Python37\Scripts\`.

1) Trying to check version fails with a similar error to #119. 👎
[code]

2) The Unicode problem is fixed, see #110  👍

3) The exe f

[2021-04-13 08:13] VladimirAlexiev commented on #116
There is a `-v, --version` option but it fails for me: #119

[2021-04-13 08:18] VladimirAlexiev commented on #110
As you can see in #119, `pip install pylode` doesn't upgrade from 2.8.5 to any later version.

So I got https://github.com/RDFLib/pyLODE/archive/refs/tags/2.8.6.zip and unzipped pylode.exe to `c:\Users\vladimir.alexiev.000\AppData\Local\Programs\Python\Python37\Scripts\`.

Now it works:
[code]

and produces this:
`or a range as in describing a bank account being suitable for a balance between £1,0

[2021-04-13 08:18] #110 closed

[2021-04-15 11:01] VladimirAlexiev opened #121 "scope notes, examples, in domain/range of"
Related to #108 and https://github.com/euBusinessGraph/eubg-data/issues/18, below is a list of the omissions of PyLODE compared to my patched LODE.

When https://github.com/euBusinessGraph/eubg-data/issues/18 is fixed, the links below will be broken, but we'll keep the PyLODE example at https://github.com/euBusinessGraph/eubg-data/blob/master/ontology/pylode/doc.html.

---------

Class WebResource

[2021-04-15 11:05] VladimirAlexiev opened #122 "sort classes, objectProperties, dataProperties alphabetically"
Comparison from https://github.com/euBusinessGraph/eubg-data/issues/18 (also used in #121):
- LODE: http://rawgit2.com/euBusinessGraph/eubg-data/master/ontology/_old/index.html
- PyLODE: http://rawgit2.com/euBusinessGraph/eubg-data/master/ontology/doc.html

[2021-04-15 11:07] VladimirAlexiev opened #123 "add favicon"
LODE has a favicon, PyLODE doesn't.
The favicon is very useful to let the user tell his browser tabs apart.

[2021-04-15 11:11] VladimirAlexiev opened #124 "add TOC links or TOC navigation"
It's very hard to orient yourself in a large ontology document, and to jump to another key place (the 3 indexes).
- LODE has links "back to ToC" or "Object Property ToC" (respectively "Class ToC", "Data Property ToC"). Example from: http://rawgit2.com/euBusinessGraph/eubg-data/master/ontology/_old/index.html (https://github.com/euBusinessGraph/eubg-data/issues/18)

![image](https://user-images.git

[2021-04-15 11:19] VladimirAlexiev opened #125 "Links to terms from external ontologies don't work"
Consider http://rawgit2.com/euBusinessGraph/eubg-data/master/ontology/doc.html#jurisdiction (from https://github.com/euBusinessGraph/eubg-data/issues/18):

![image](https://user-images.githubusercontent.com/536250/114861084-788d3300-9df5-11eb-9812-500b7f5d37d0.png)

- The link ebg:IdentifierSystem (internal term) goes to http://rawgit2.com/euBusinessGraph/eubg-data/master/ontology/doc.html#Identif

[2021-04-15 11:36] VladimirAlexiev opened #126 "anchors: external terms should use prefixed name; etc"
#125 shows a case where ontology `ebg:` uses an external class `rov:RegisteredOrganization` and refines its definition.
- Some purists call this namespace hijacking, but I call it refining the external term with additional info specific to the business case (eg scope notes, examples, etc)
- Many ontologies, especially those that reuse heavily from external ontologies, do this

The PyLODE anchor fo

[2021-04-15 11:47] VladimirAlexiev opened #127 "anchors for sections of ontology description; TOC refinements"
Related to #126

You handle Markdown headings in ontology description (thanks!), eg see this screen from http://rawgit2.com/euBusinessGraph/eubg-data/master/ontology/doc.html (https://github.com/euBusinessGraph/eubg-data/issues/18)

![image](https://user-images.githubusercontent.com/536250/114864145-539abf00-9df9-11eb-9408-16ed0762948d.png)

Please also:
- Move the TOC above Overview because good

[2021-04-18 22:36] rybesh opened #128 "Support for Markdown in descriptions of properties"
Currently Markdown is supported in descriptions of classes but not of properties. It would be great if it were consistently supported for descriptions of any kind of entity.

[2021-04-18 22:39] rybesh opened #129 "Support for Python Markdown extensions"
Especially for `skos:example` values, it would be great if it were possible to take advantage of [Python Markdown extensions](https://python-markdown.github.io/extensions/), specifically [fenced code blocks](https://python-markdown.github.io/extensions/fenced_code_blocks/) and [codehilite](https://python-markdown.github.io/extensions/code_hilite/). This would allow the generation of syntax-highlig

[2021-04-22 10:52] nicholascar opened #130 "Create fragment identifiers from URI, not label"
Create fragment identifiers for the classes and properties in the HTML based on the URI token (last segment of URI) instead of the rdfs:label

[2021-04-23 12:56] #113 closed

[2021-04-26 11:31] smarie commented on #119
@nicholascar may I suggest to use a well-proven pattern to handle the `__version__` attribute here ?

I have it documented here: https://smarie.github.io/python-getversion/#package-versioning-best-practices

I used this pattern in 20+ python libs, it works perfectly fine. For example in [`makefun`](https://github.com/smarie/python-makefun/), [`pyfields`](https://github.com/smarie/python-pyfields/)

[2021-04-27 04:25] nicholascar commented on #119
Hi @smarie thanks for pointing out that versioning pattern. I've tried to implement it myself as I wanted to understand it. Also, the versioning is quite fragile in this package since the version is quoted in package code. This fragility is likely just down to my bad programming... Anyway, I think I've implemented everything so I'd be really thrilled if you could just review the code and see if it

[2021-04-27 04:26] nicholascar commented on #119
@VladimirAlexiev can you please try v2.8.10 now in PyPI? I think it solves this version issue.

[2021-04-27 04:28] nicholascar commented on #129
Hi @rybesh could you please put in a PR for this? I'd love to have the extensions support but have a few more critical issues to deal with at the moment, like adding ASCCIIDOC support.

[2021-04-27 04:29] nicholascar commented on #128
@rybesh this would be easy to fix but could you put a PR in for it? There are so many consistency things that could be addressed but best if many eyes view the source code and improve it!

[2021-04-27 04:45] nicholascar commented on #123
I've added favicons to the HTML templates with commit https://github.com/RDFLib/pyLODE/commit/d950a4d0e8e1f7b2713dac1a702e38d76b661e7e, so this will come through to PyPI in the next release (later tonight or tomorrow)

[2021-04-27 04:45] #123 closed

[2021-04-27 04:48] nicholascar commented on #120
`pip install -U pylode` now installs 2.8.10.

I don't really know much about the Windows EXE version I'm afraid! I'm just blindly building it from a the pyinstaller script that someone else wrote (https://github.com/RDFLib/pyLODE/blob/master/pylode/pylode-cli.spec). I'd love any help with better configuring that script to produce better binaries...

[2021-04-27 05:11] nicholascar commented on #109
Added with Commit https://github.com/RDFLib/pyLODE/commit/5ce09767700781caf96ac7f7832942dfeae80be2 so now in `master` and will be available in PyPI in next release

[2021-04-27 05:11] #109 closed

[2021-04-27 05:40] nicholascar commented on #128
OK, I've gone and done this one with Commit https://github.com/RDFLib/pyLODE/commit/ae12537f3aeb71215587f21307faafd26176d3b2.

Perhaps Markdown support isn't consistent throughout pyLODE though, so I'll close this but love to see any PRs applying consistency!

[2021-04-27 05:40] #128 closed

[2021-04-27 05:57] nicholascar commented on #121
* I've changes "Usage Note" to "Scope Notes everywhere
    * better reflects the underlying SKOS property
* I've added Markdown support for properties

One of the issues with your examples above is that you are using `http://schema.org` but you should be using `https://schema.org`! In discussion with the schema.org people (@danbri) I've been only allowing the HTTPS version of schema.org everywhere

[2021-04-27 07:18] smarie commented on #119
@nicholascar very fine, I'll check right now !

[2021-04-27 07:25] smarie commented on #119
There is one thing that needs explanation : with this parttern the `_version.py` file should not be in the git files (it should be ignored). Indeed it is generated when you do `python setup.py bdist_wheel` or any command that trigger it, such as `pip install .`. This command will typically be executed just before releasing to PyPi, for example by the github action workflow.

In order for this gene

[2021-04-27 08:43] nicholascar commented on #119
Yeah, I saw that pattern - to exclude `_version.py` - but I had some problems with import dependencies since my code uses the version number in quite a few places. Also, before tagging, I had an ugly Git version - `2.8.10-dev0wkejrewhrw` or similar - which I have to avoid since the version number's printed out in HTML docs and needs to be short e.g. just `2.8.10`.

I'll try and remove the `_versio

[2021-04-27 11:54] smarie opened #131 "Custom href for the RDF file link"
Hi there, thanks once again for this great lib !

It seems that the current href link generated for the RDF (`<dd><a href="...">RDF (turtle)</a></dd>`) points to the local file used to generate the doc. Currently I modify the HTML by hand, but it would be great to be able to provide an alternative href directly.

If you think this is useful, I can try to propose a PR (but we should first probably

[2021-04-27 14:19] nicholascar commented on #119
OK, I think it's gone now! Both GitHub and PyPI updated.

[2021-04-27 14:33] nicholascar commented on #131
Hi @smarie, perhaps we can settle on an RDF property which, if present, will override the auto-generation of that link? I'd like to keep as much config as possible within the RDF file as this ensures that all the information in any HTML documentation is in the RDF too and not added through some hidden process.

Perhaps we can use [dcterms:hasFormat](https://www.dublincore.org/specifications/dublin

[2021-04-27 21:10] smarie commented on #119
@nicholascar great !

Note: the "ugly" version is perfectly normal. It ensures that all unique code bases have different versions. Therefore until you are "perfectly" on the tag, the version is a "working" version. If you have uncommited file changes locally, there is also an additional string added to denote this. All of this ensures that when the version number is clean, it really corresponds to

[2021-04-27 21:12] smarie opened #132 "Order of authors (`dc:creator`) is not preserved in the documentation"
I noticed that the order in which the authors of an ontology are listed is scrambled (probably an alphabetical sorting?) when the html is built. Could this be an easy thing to fix ?

[2021-04-27 21:20] smarie opened #133 "Consistency between member URIs and HTML divs for named individuals"
I noticed in an ontology of ours that the div links for named individuals are based on the `rdfs:label`.

However the IRIs for members usually end with the named individual id, so even if the IRI resolves to the generated doc page, the last bit (`#<id>`) can not resolve to the named individual div on the PyLODE html page.

Maybe there is something to modify in the named individuals html divs so th

[2021-04-27 22:56] nicholascar commented on #119
Sure, but I just can't have it shown in the HTML documentation the program generates! I appreciate the use of the git version in dev but just have to fall back on the `version_tuple` for end users' display. Seems to be working fine now.

It's a nice pattern this and I think I have many other Python programs that it's actualyl mroe useful for than this one, so I'll try and roll it out in them!

Tha

[2021-04-27 23:17] nicholascar commented on #132
No, not easy to fix really, since RDF graphs are un-ordered. I _guess_ I could just sort them alphabetically but this might only be deterministic, rather than purely alphabetical, since decisions will have to be made about which properties to sort on.

[2021-04-27 23:25] nicholascar commented on #133
I think this is a specialised form of these issues which are all about the poor generation of fragment identifiers:

* Issue #130
* Issue #86
* Issue #30
* Issue #20

So clearly this is an important issue! Because it's high priority, I'll try and come up with a fix ASAP - today or tomorrow.

[2021-04-28 07:24] smarie commented on #133
Oh sorry, I did not make the link with those issues. Thanks @nicholascar  !

[2021-04-28 07:25] smarie commented on #131
Thanks for the quick feedback @nicholascar ! I'll discuss this and possible alternatives with colleagues and come back to you.

[2021-04-28 07:34] smarie commented on #131
By the way, would this allow for relative links ? Indeed the problem is really related to deployment on a web server. So if we wish the documentation to be testable both on a local web server and the final remote one, a relative one is mandatory.

[2021-04-28 07:34] nicholascar commented on #133
Have a look with at the latest release (2.9.1) and see if this solves your NI URI issues. I've tried to ensure consistent fragment generation for all Classes, Properties & Named Individuals.

[2021-04-28 07:39] nicholascar commented on #131
I think that if we allow an override property like this, then it's up to the deployer to cater for all the possibilities of their environment. Ideally, the URI would be an absolute one so that anyone having the ontology RDF would have a property that works, wherever they put the file, but if a relative URI is used, it would then just be considered a documentation property and that would be ok.

So

[2021-04-28 07:43] smarie commented on #131
A few thoughts:

Semantically, `dcterms:hasFormat` seems to mean an alternative source. Here the need is rather "this file" (the source from the html doc generation, so the original rdf file). So I think that this information does not really fit in the file. You would not include in the file a path to itself, would you ? It seems overkill

yes, this is exactly what I am referring to. For example I

[2021-04-28 07:54] nicholascar commented on #131
Well easy for me to _not_ implement it!

This might be the way to go! Just like we have several executable scripts and so on for different use, having a `.pylode.cfg` file or perhaps even several different one, does seem sensible.

If it's not about the ontology content but just deployment etc., then I'm fine with not using the RDF!

Perhaps you could test a first version cfg file to do all the pa

[2021-04-28 08:04] smarie commented on #131
Makes sense. Starting small (just the configuration logic and a few options) and adding options later seems a good way to go.
I'll try to propose something in the upcoming weeks. Thanks again @nicholascar !

[2021-04-28 08:25] nicholascar commented on #131
No worries. I'm always happy to help people extend or implement pyLODE as sometimes I learn things from them!

[2021-05-05 06:55] nicholascar opened #134 "Create a dedicated handler function for marked-up text like Desc"
Just like the new OntDoc profile's Example handler, but simpler

[2021-05-05 13:49] nicholascar commented on #133
@smarie can you try out release 2.9.2 now and see if that works? Keen to close any solved issues to get the Issue count down!

[2021-05-05 13:57] nicholascar commented on #132
Actually, the Creators and Contributors are already sorted - alphabetically by first name of the person or the start of an Org's name- so the field isn't _scrambled_, it's just likely different to whatever was added to the original RDF file.

So, I can't really solve this one unless a whole new ordering construct is added to the Creators and Contributors in an ontology, such as an RDF container -

[2021-05-05 13:57] #132 closed

[2021-05-05 13:57] nicholascar commented on #130
Long since complete

[2021-05-05 13:57] #130 closed

[2021-05-05 13:59] nicholascar commented on #116
This issue is now long (v2.9.x) solved in @VladimirAlexiev's case which is running the EXE binary on Windows

[2021-05-05 13:59] #116 closed

[2021-05-05 14:05] nicholascar commented on #108
@VladimirAlexiev can you try the latest versions of pyLODE (v2.9.x) for this task? It should correctly handle `domainIncludes` and `rangeIncludes`. It won't handle a missing `owl:Ontology` declaration, so I think your best bet is just to add statements like that to the data before sending it to pyLODE. pyLODE does do some ontology building to cater for various property options, like different form

[2021-05-05 14:34] nicholascar commented on #124
I've added a couple of links like LODE had - for the fragment URI of the Class/Property and a back to Class/Property Index.

Perhaps a left menu, collapsible TOC gadget like the W3C's reSpect docs have would be nice but I'm not sure I can do the necessary styling and JavaScript for that any time soon.

I'd love any offers of assistance for this task!

[2021-05-06 04:28] nicholascar opened #135 "Remove recommentations/allowance to use DC properties, only DCTERMS"
e.g. https://github.com/rdflib/pyLODE/#datatype---not-preferred

[2021-05-06 04:31] dr-shorthair commented on #135
To support this: DCMI explicitly recommends only using `dcterms:` in an RDF context.

 https://dublincore.org/specifications/dublin-core/dcmi-terms/#section-1

[2021-05-07 10:00] smarie commented on #132
Thanks for the feedback @nicholascar ! Let me come back to colleagues about this and we'll open an issue if needed

[2021-05-07 10:19] smarie commented on #133
Oops sorry this is very far from my main activities so I get only 1h per week or less to work on ontologies :)
I'll do this asap

[2021-05-07 11:08] niklasl commented on #132
You may find [`bibo:contributorList`](http://purl.org/ontology/bibo/contributorList) (and its subproperties `bibo:authorList` and `bibo:editorList`) useful for this specific purpose (intended to be used with RDF lists, like `<doc> bibo:authorList (<you> <me>) .`, or the more legacy `rdf:Seq` construct).

[2021-05-07 12:04] smarie commented on #133
So I checked now and I confirm that the issue is still there.

With this example ontology:

[code]

The generated doc contains this:

![image](https://user-images.githubusercontent.com/3236794/117446585-8f2e3200-af3c-11eb-9eb3-2be412fb4ad0.png)

So the URI is correct. However if I create a w3id rule to redirect the namespace to the doc URL, it will look for div `#Foo`.

The issue is that the div i

[2021-05-10 08:07] sk-hdm opened #136 "Inconsistencies regarding the display of annotations / descriptions for graphs and properties"
This is perhaps two separate issues, so apologies if they should be separated. I'm having trouble getting multiple annotation properties to display, either for the ontology itself or for individual properties. I believe this is similar to https://github.com/RDFLib/pyLODE/issues/92, but different enough that it seems to remain an issue.

For the ontology, the property used to generate the (html) ou

[2021-05-11 07:38] dr-shorthair commented on #61
Windows exe missing some libraries?

![image](https://user-images.githubusercontent.com/608303/117777149-a8f2b080-b27f-11eb-9dbc-c938a1b08cd6.png)

[2021-05-11 11:39] nicholascar commented on #61
Even weirder: that specific plugin _is_ listed in the pyinstaller manifest: (https://github.com/RDFLib/pyLODE/blob/master/pylode/pylode-cli.spec#L21)

[2021-05-11 11:47] nicholascar commented on #136
pyLODE treats all `dc:description`, `dcterms:description`, `skos:definiton` & `rdfs:comment` properties on the ontology as equivalent and "builds out" the internal graph of the ontology to ensure that any of those properties is replaces with `dcterms:description`, see  [ontdoc.py#L257](https://github.com/RDFLib/pyLODE/blob/master/pylode/profiles/ontdoc.py#L257). This means you can use any of those

[2021-05-11 19:02] graybeal commented on #136
I believe a fair number of ontologists deliberately use 2 or more of these concepts differently and independently, certainly with respect to documenting concepts. I would say rdfs:comment and skos:definition definitely have different connotations than the two description terms, so they should not be collapsed/treated as equivalent.

I'm aware of a few cases where people put the same text in multip

[2021-05-12 05:43] sk-hdm commented on #136
@nicholascar - Thanks for the detailed response. As for the proposed fix:

I think @graybeal has it correct. Occasionally, some annotation terms seem to be used interchangeably, but as mentioned, ones such as `rdfs:comment` and `skos:definition` are fairly distinct and used for different purposes.

In my use case, the ability for properties to display these separately in the output would be ideal,

[2021-05-12 05:55] nicholascar commented on #136
OK, I'm going to go with multiple `dcterms:description` values initially and then think about @graybeal's point. I do acknowledged it - I've seen ontologies using `dcterms:description` alongside `rdfs:comment` etc. but the reason I haven't implemented them separately is because the semantics are un-clear: what does `rdfs:comment` mean alongside `dcterms:description`? I can work out what `rdfs:comm

[2021-05-12 08:11] sk-hdm commented on #136
Alright, looking forward to the change, thank you!

I agree that the differentiation between `rdfs:comment` and `dcterms:description` is a bit unclear, so no real answer for that. I'll most likely end up cleaning up the use of them for the ontology description since now it's a bit messy. As for `skos:definition` and `rdfs:comment`, the distinction is a bit more clear as you say, but maybe there is

[2021-05-12 08:22] nicholascar commented on #136
Have a look at <https://github.com/rdflib/pyLODE/#what-pylode-understands> and yes, pyLODE understands `skos:historyNote` at the ontology/vocabulary level and `scos:scopeNote` at the elements (Class & Property) level. See [this DecProv ontology class](https://raw.githack.com/RDFLib/pyLODE/master/pylode/examples/decprov.html#DecisionLogicExpression) for a `skos:scopeNote` example alongside a descri

[2021-05-12 15:34] graybeal commented on #136
There are two reasons people would be using rdfs:comment rather than SKOS properties: there isn't a SKOS property that applies; or, they don't want to entail or even reference SKOS in what is explicitly a logic model and not a vocabulary. So I expect many people do use rdfs:comment with disciplined intent.

Keep in mind that all of these allow multiple uses per subject anyway (partly for language

[2021-05-12 23:42] nicholascar commented on #136
Well at the moment `rdfs:comment`, `dc:description`, `dcterms:description` & `skos:definition` are all catered for, so people are quite able to keep using `rdfs:comment` if they wish (as many/most do).

Definitely will enable multiple uses per subject! And I do need to work on multiple language rendering. Probably need a setting to indicate a primary language and then support all others.

I think

[2021-05-13 00:17] dr-shorthair commented on #136
`skos:note` is the general case.
All the other annotations are sub-properties of that.

[2021-05-13 02:41] nicholascar commented on #136
`skos:note` isn't catered for (see [ontdoc.py#L257](https://github.com/RDFLib/pyLODE/blob/master/pylode/profiles/ontdoc.py#L257)) but should be, so I'll add it when making the change to handle multiple values.

[2021-05-13 07:10] dr-shorthair commented on #61
:-(

[2021-05-13 07:33] nicholascar commented on #61
There's always http://pylode.surroundaustralia.com/ online if you're
desperate. I think it's a few versions behind but does work

On Thu, May 13, 2021 at 5:10 PM Simon Cox ***@***.***> wrote:

[2021-05-13 07:38] dr-shorthair commented on #61
I carefully kept a copy of the last version that worked, so have reverted to that already.

[2021-05-13 09:23] nicholascar commented on #61
You don’t have to be careful: al previous versions are here in GutHub for download: each tagged release is saved forever.

I’ll remove the faulty release deliberately when I create a later working one.

[2021-05-13 22:09] nicholascar commented on #61
Still can’t work this out but I can say that a 6.0.0 release of RDFlib that incorporated the JSON-LD module would avoid this by internalising the dependency.

[2021-05-14 02:53] jyucsiro commented on #61
i've had a go at building this.

@dr-shorthair @nicholascar  would you mind testing the attached .exe out?
[pyLODE.zip](https://github.com/RDFLib/pyLODE/files/6476204/pyLODE.zip)

[2021-05-14 04:13] nicholascar commented on #61
I get a message saying  "The system cannot execute the specified program"
and that's a permissions issue since my laptop then deletes the EXE and
complains about a trojan!

Did you change anything in the pyinstaller code?

Nick

[2021-05-14 04:40] jyucsiro commented on #61
ok. there were a few things. wrote a pyinstaller spec file and included all hiddenimports. also needed to add a few files to be bundled in. i'll create a PR with the code

[2021-05-14 05:17] nicholascar commented on #61
What about the permissions issue? My laptop thinks there's malware in the
exe.

On Fri, May 14, 2021 at 2:40 PM Jonathan Yu ***@***.***>
wrote:

[2021-05-17 13:38] smarie commented on #132
@nicholascar just reopening for the sake of continuing the discussion and to better understand what should be actually required in another ticket (or in this one if we rename it correctly)

[2021-05-18 21:12] smrgeoinfo commented on #136
One way I've handled these multiple text blobs is to just prefix Description sections with the property name used in the source, e.g.
### Description
**dc:description**:  This owl ontology is designed to duplicate the intention of the CGI SimpleLithology201001 vocabulary. It provides an OWL view of the vocabulary ........
________
**rdfs:comment**: To see the hierarchy of categories, open in prote

[2021-05-19 06:06] dr-shorthair commented on #61
I just tested the attached exe. Works fine, though there is an erroneous error message:

![image](https://user-images.githubusercontent.com/608303/118763792-cc3ee080-b8bb-11eb-9f44-57929c67ddd0.png)

In the source it was `  dct:license <https://creativecommons.org/publicdomain/zero/1.0/> ;`
but I get the same error with `  dct:license "https://creativecommons.org/publicdomain/zero/1.0/"^^xsd:anyUR

[2021-05-19 07:04] nicholascar commented on #61
That's an underlying error message that's bubbled up from RDFlib and what's happening is that some graph somewhere is being fed the HTML version of a URI, not a plain RDF URI. Likely in the schema.org annotations for the HTML.

@dr-shorthair can you please just look at the source of the HTML file you just generated and see if the schema.org RDF looks ok? Should be equivalent to here: https://githu

[2021-05-19 07:11] dr-shorthair commented on #61
Schema.org license is broken (assuming it should just be the URI)-
[code]

[2021-05-19 07:14] nicholascar commented on #61
Great, thanks for the confirmation: I can fix that!

[2021-05-21 12:41] nicholascar opened #138 "Complex super classes not handled"
See https://loop3d.github.io/GKM/geology.html#Generic_Geologic_Time_Unit

https://github.com/Loop3D/GKM/blob/master/Loop3D-GSO/GSO-Geology.ttl#L128

[2021-06-04 08:43] nicholascar opened #139 "Provide serialization icons for Turtle, JSON-LD etc"
Rather than just the text to indicate an RDF format, use GitHub-style image widgets

[2021-06-11 10:47] nicholascar opened #140 "PROF Markdown problems"
Markdown for the PROF profile misses:

* Description - no text generated
* Fragment URIs: the HTML style ones don't work
* Profile RDF value not delivered

[2021-06-17 02:44] nicholascar opened #141 "Datatypes not listed"
The [GeoSPARQL 1.1 Ontology](https://github.com/opengeospatial/ogc-geosparql/blob/master/1.1/geo.ttl) defines custom datatypes such as:

[code]

But pyLODE doesn't know anything about Datatypes, see the rendering of this ontology: https://opengeospatial.github.io/ogc-geosparql/geosparql11/index.html

[2021-06-17 10:12] dr-shorthair commented on #141
Previously reported in #77

[2021-06-17 10:14] dr-shorthair commented on #141
Duplicate of #77
Which was itself a revival of #46

[2021-06-17 11:30] nicholascar commented on #119
This issue is long resolved so I'm closing. Please reopen if there are still problems.

[2021-06-17 11:30] #119 closed

[2021-06-17 11:31] nicholascar commented on #120
Long since resolved so closing. Please reopen if continued issues.

[2021-06-17 11:31] #120 closed

[2021-06-21 18:15] BonaBeavis opened #142 "Reference ontology for each profile"
I am building a ontology publishing pipeline with nextflow. For documentation, reference and testing it would be nice to have a reference ontology for each profile. This ontology should make use of every feature pylode understands.

I started with an ontdoc ontology [here](https://gitlab.com/kupferdigital/ontoflow/-/blob/90cf06aad6ffdcd014a07784c2fe30d80c035c94/source/ontdoc.ttl). As a starting po

[2021-06-21 21:04] graybeal commented on #142
Well, as ESIP's COR (cor.esipfed.org) include pyLode display for many of its ontologies (e.g., http://cor.esipfed.org/ont?iri=https://w3id.org/geoscienceontology/common/ontology — look under the Data section for the pyLode button, and wait about 5 seconds for it to show up), it would make fertile testing ground.

When you feel like being really aggressive, you could try the ontologies in BioPortal

[2021-06-22 14:30] BonaBeavis commented on #142
Wow, there a 1GB ontologies. I tried to generate documentation for the biggest one, but after half and our it was still running. Did you do any tests and have a ballpark figure for what pylode can handle?

[2021-06-22 14:33] BonaBeavis opened #143 "Dead links in README"
Links to images and the links to the profiles are dead.

[2021-06-22 14:37] BonaBeavis commented on #142
How do the profiles relate to each other? Where can I see, what pylode picks up with each profile?

Does pylode understand [this](https://github.com/RDFLib/pyLODE#what-pylode-understands) independent of the selected profile?

[2021-06-29 07:16] F3RR3T opened #144 "Automate the inclusion of Overview diagram, caption and text"
PyLODE creates a stub `<div>` for Overview. At present, we just paste some stock html into the `<div>` that points to `images/overview.png` and  includes a caption. For the moment, in the ontology that I'm working on, I've  saved an 'include' file `images/overview.html` and then replace the 'overview' div with ` <div w3-include-html="images/overview.html"></div> `.

Issues #127 and #131 seem simil

[2021-06-29 07:24] F3RR3T commented on #144
Example commit: https://github.com/AGLDWG/phs-ont/commit/54598a7b26a8e2665f6fb575db38dd549b3e240c

[2021-06-30 15:24] nicholascar commented on #144
Can't really "fix" this as such. I like to keep an annoying grey box being auto-generated to prompt people to put in an image but we can't predict how they might generate an image and we're not auto-generating images, so it's really out of scope to make any real change here.

[2021-06-30 15:25] #144 closed

[2021-07-20 22:16] smrgeoinfo opened #145 "pyLODE fail, GitHub action. New version rdfLib at fault?"
I have a [github action](https://github.com/Loop3D/GKM/actions/workflows/updateDocs.yml) set up to run pyLODE on the ttl in my [github repo](https://github.com/Loop3D/GKM). Last week it worked; when I did a push today I got an error on the action. looking at the logs, the difference seems to be this:
### works (last week):
...

...

... starts generating html files

### Doesn't work (today)
...

.

[2021-07-25 12:58] BonaBeavis commented on #145
You are right, problem is that rdflib is not pinned to 5.0.0.

Workaround:
[code]

[2021-08-01 15:06] BonaBeavis opened #146 "owl:FunctionalProperty is ignored"
With this example:

[code]

Pylode renders `ex:hasHusband` as an object porperty and not as an functional property.

FPs are a subclass from OPs, so maybe pylode sees `owl:ObjectProperty` and stops there.

[2021-08-11 12:45] #145 closed

[2021-08-15 10:51] BonaBeavis opened #149 "How to add picture to ontology"
I know it is possible to add an picture to a class with `skos:example`. But how to add an picture representing the ontology replacing the "One picture says more than 1000 words" element?

[2021-08-16 03:39] #146 closed

[2021-08-16 03:47] nicholascar opened #150 "Auto-create a changelist from a previous version"
If a user supplies a previous version of an Ontology/Profile/Vocab alongside the new version being documented, then a changeset can be automatically made, just like this one: https://linkedearth.github.io/ontology/core/1.2.0/index-en.html#changes

[2021-08-16 03:51] nicholascar opened #151 "Support PAV properties for whole-of-ontology versioning"
e.g. allow an ontology/vocab/profile to indicate previous versions with <http://purl.org/pav/previousVersion>

[2021-08-16 04:02] dr-shorthair commented on #151
PAV belated getting some love - also here https://w3c.github.io/dxwg/dcat/#normative-namespaces
AFAIK @stain has left PAV in the 'that was interesting but no one else noticed' basket ...

[2021-08-16 06:39] nicholascar opened #152 "Formalise the OntDoc profile"
* Publish the OntDoc profile just like the VocPub one (https://w3id.org/profile/vocpub)
* Include in the profile which annotation properties from which well-known ontologies/vocabularies are either known and/or preferred
    * e.g. VoID, schema.org, PAV etc.
* indicate how to do complex examples, as per PROF ResourceDescriptor documentation

[2021-08-16 10:31] BonaBeavis commented on #150
For [ontoflow](https://gitlab.com/kupferdigital/ontoflow/) I create this diff with bubastis and I will just add it to pylode's output.

[2021-08-16 23:28] nicholascar commented on #150
I think you should keep doing that for the moment. I've been looking at
bubastis and yes, it's functionality could be recreated in Python for
inclusion in pyLODE or use elsewhere, but it wouldn't be a 5 min job!

I might try to see if one of our clients needs ont diffing capability.
Currently we use RDFDelta (https://afs.github.io/rdf-delta/) for RDF
diffing for our own RDF backup purposes and tha

[2021-11-08 19:07] dwinston opened #153 "pypi release not tied to rdflib==6.0.0 ?"
I'm using rdflib 6.0.2, and I cannot `pip install pyLODE` because it requires `rdflib==6.0.0`. Could a new pypi release be pushed that works with rdflib>6.0.0? (it also could drop the rdflib-jsonld requirement if if requires rdflib>6.0.0, but that's a separate issue.)

[2021-11-10 15:22] orieg opened #155 "Broken Markdown generation with pyLODE examples.ttl"
**pyLODE version:** 2.12.0
**Issue Reproduction Turtle File**: [examples.ttl](https://github.com/RDFLib/pyLODE/blob/master/pylode/examples/examples-ont/examples.ttl)

Two problems occurs when generating the pyLODE examples.ttl file:
1. In HTML and Markdown output format, the `dcterms:creator` and `dcterms:publisher` will render as "None" when schema.org is using https `@prefix sdo: <https://schema

[2021-11-21 12:47] nicholascar commented on #153
I'm working on updating and making a release now. This should bypass PR #154

[2021-11-23 11:22] nicholascar commented on #155
Thanks for picking this up @orieg. I think I've fixed this issue: a Publisher, or any other Agent, will have a name generated from its URL if no actual name is given. So the HTML for the examples.ttl example should now have this in it `<a href="https://linked.data.gov.au/org/surround">surround</a>`. I't not perfect but if an Agent URI is supplied with no label, than this is better than either None

[2021-11-23 11:41] nicholascar commented on #149
@BonaBeavis sorry I've taken so long to reply to you, I've been consumed with lots of RDFlib work!

I like to leave that HTML in there to force people to consider an ontology image!

Probably the easiest thing is to replace that piece of HTML after generation either by hand - edit the HTML file directly - or with some small Python post-processing, if you're calling pyLODE from a script.

If you're

[2021-11-23 11:51] nicholascar commented on #142
I'm about to start work on pyLODE 3.0.0 and I'll do a much better job of explaining what's known by each profile! First I'll define each profile itself and then ensure that the code that generated HTML for each profile actually follows the profile definition. Sadly, through laziness on my behalf, the profiles that pyLODE declares it knows about are not well defined.

A profile that pyLODE doesn't

[2021-11-30 18:08] harmdelva-tomtom commented on #155
I think there's a different root issue @nicholascar, rdflib seems to have switched from using `https://schema.org` to `http://schema.org` with version 6.0. That in itself it a dubious change, but something that should be raised in the rdflib repo itself.

Unfortunately this also means that ontologies that used to be formatted just fine with previous versions are now broken. All the checks in `OntD

[2021-11-30 18:10] hdelva commented on #155
I think there's a different root issue @nicholascar, rdflib seems to have switched from using `https://schema.org` to `http://schema.org` with version 6.0. That in itself it a dubious change, but something that should be raised in the rdflib repo itself.

Unfortunately this also means that ontologies that used to be formatted just fine with previous versions are now broken. All the checks in `OntD

[2021-11-30 18:33] orieg commented on #155
I haven't tested @nicholascar update yet. Though, I would agree with @hdelva that the root problem seems to be a bit more "deep". For example:
- SDO is defined as `http://schema.org` in https://github.com/RDFLib/rdflib/blob/master/rdflib/namespace/_SDO.py
- SDO is redefined as `https://schema.org` in https://github.com/RDFLib/pyLODE/blob/master/pylode/profiles/base.py

Note that `base.py` in pyLOD

[2021-11-30 23:37] nicholascar commented on #155
It does look like there's a problem with upstream RDFlib. It should indeed be `https://schema.org`, not `http://schema.org`, so I will put in a PR now to update RDFlib and then pyLODE will pick that up.

[2021-12-06 02:59] nicholascar opened #156 "Annotation & Datatype Property keys both dp"
The Annotation Properties key should be _ap_, not _dp_.

[2021-12-20 15:31] chai3 commented on #153
I think it will be fixed in version 2.13.0, but [it hasn't been released yet](https://pypi.org/project/pyLODE/#history).

[2021-12-21 03:22] nicholascar commented on #153
I've pushed a very minor 2.13.0 to specifically deal with this issue. Apologies for the delay: time has been diverted to rdflib 6.1.0 release!

[2021-12-21 03:59] nicholascar commented on #156
Fixed in 2.13.2

[2021-12-21 03:59] #156 closed

[2021-12-21 03:59] nicholascar commented on #153
Fixed in 2.13.1

[2021-12-21 03:59] #153 closed

[2021-12-22 06:56] nicholascar commented on #155
The schema.org HTTPS issue was fixed in RDFlib the other day and I've fixed the Markdown list issue. I've updated the example file that showed the issues too.

[2021-12-22 06:56] #155 closed

[2021-12-22 06:56] nicholascar commented on #155
So it's fixed in `master` branch but not in a release yet. I will make a release in a day or two after fixing a few other things

[2021-12-22 06:57] nicholascar commented on #149
Closing as this has had an answer for about a month.

[2021-12-22 06:57] #149 closed

[2021-12-22 06:59] nicholascar commented on #143
I _think_ these are all fixed now! Links work in https://github.com/RDFLib/pyLODE & https://pypi.org/project/pyLODE/

[2021-12-22 06:59] #143 closed

[2022-01-06 12:14] nicholascar commented on #124
Added a whole ToC in 3.0.0, see https://rdflib.dev/pyLODE/examples/ontdoc/agrif.html

[2022-01-06 12:14] #124 closed

[2022-01-06 12:17] nicholascar commented on #104
Long since solved: these properties are conflated with `dcterms:title` & `dcterms:description` respectively

[2022-01-06 12:17] #104 closed

[2022-01-06 12:21] nicholascar commented on #135
All recommendations removed in 3.x

[2022-01-06 12:21] #135 closed

[2022-01-06 16:23] rivettp opened #157 "Error from rdflib for declaration of VANN"
I'm using 3.0.1 of pylode and 4.0.6 of rdflib

Traceback (most recent call last):
  File "/home/rivettp/.local/bin/pylode", line 5, in <module>
    from pylode.cli import main
  File "/home/rivettp/.local/lib/python3.8/site-packages/pylode/__init__.py", line 1, in <module>
    from .utils import *
  File "/home/rivettp/.local/lib/python3.8/site-packages/pylode/utils.py", line 32, in <module>
    f

[2022-01-14 14:23] dwinston opened #159 "OntDoc() cannot initialize from a Graph"
This is because `load_ontology` in `OntDoc.__init__` calls `cast(ontology, Graph)` if `isinstance(ontology, Graph)`, and `cast` from python's stdlib has a sygnature of `def cast(typ, val):`, so the arguments to the call are reversed.

Fixed by #158

[2022-01-17 05:53] #159 closed

[2022-01-17 05:54] nicholascar commented on #157
You'll need to upgrade to rdflib >= 5.0.0 but best would be 6.1.1. I'm not really able to maintain compatibility with such ancient RDFlib releases (4.0.6 must be from > 5 years ago!)

[2022-01-17 08:13] rivettp commented on #157
Apologies, I'm using rdflib 6.0.2, which is the latest that pip gives me for the version of python (3.8) included with my Ubuntu 20.0.4. And confirmed I'm getting the same error.

[2022-01-17 09:43] nicholascar commented on #157
Ah, ok, I'll have to look into this then... blast!

[2022-01-17 10:54] nicholascar opened #160 "Add badges like https://img.shields.io/badge/Format-Turtle-blue.svg"

[2022-01-17 22:53] nicholascar commented on #157
Hmmm... this problem is tricky because I can't easily replicate it: the VANN namespace resolves just like all the others do in 6.0.2, see https://github.com/RDFLib/rdflib/tree/6.0.2/rdflib/namespace, so I don't yet know why you're seeing the error.

I'm going to have to try and run on Ubuntu and Python 3.8 exactly perhaps.

[2022-01-24 15:00] hammar opened #161 "Anchor capitalization"
Hi,

PyLODE generates anchors with a capitalization that is inconsistent with the class/property that the anchor concerns, e.g., `https://w3id.org/rec/core/OccupancyZone` gets the anchor `#Occupancyzone`. The anchors and links to them are internally consistent so the docs themselves work fine in isolation. But if I want to use HTTP content-type negotiation to redirect web browser users (looking fo

[2022-02-10 20:20] nicholascar commented on #161
Hi @hammar please do have a go and fix this. I will eventually do another pyLODE sprint but you may be able to fix things before then!

I'd love more contributions to this code base too, as new eyes would greatly improve it.

[2022-02-26 17:00] charlesvardeman commented on #157
As an FYI to this issue, I had the same issue on MacOS with pylode installed in a pipx venv.

[code]

[code]

Uninstalling the pipx venv and reinstalling forced an upgrade of rdflib to 6.1.1 that seems to have solved the issue. Anyone running into this issue should probably first try to get to rdflib up to 6.1.1.

[2022-03-30 14:48] nicholascar opened #164 "Align outputs with OntPub profile"
Formal profile at https://w3id.org/profile/ontpub

[2022-03-30 14:48] nicholascar commented on #152
A new formal ontology profile is at https://w3id.org/profile/ontpub but pyLODE's not perfectly aligned with it.

Created Issue #164 for profile alignment.

[2022-03-30 14:49] nicholascar commented on #142
Ontology profile now formally defined: https://w3id.org/profile/ontpub. pyLODE 3's not yet aligned with it but it will be, as per Issue #164

[2022-05-08 23:42] ananya2711 commented on #106
Pull request #165
Also prevented text overflow.

[2022-05-08 23:57] ananya2711 commented on #88
Does the service on http://cor.esipfed.org/pylode still run? Doesn't load for me.

[2022-05-10 04:36] nicholascar commented on #88
Sorry but that is a question you'll have to put to ESIP!

Since they implemented that live-loading version, there has been a major update to pyLODE (v3.x) that includes many breaking changes. If their system auto-pulls pyLODE from PyPI and tries to run with it, it will have broken.

I think this new version of pyLODE is better (duh!) but it will need to be catered for in some changes at their end.

[2022-05-10 04:38] nicholascar opened #166 "Exclude .pickle files from Git"
some Python pickle files seem to have been committed and should be removed and ignored going forward

[2022-05-11 13:44] wmelder opened #167 "The same code using serialize() results in different types for different platforms/OS'es"
Maybe this is a bug in rdflib.

I was trying to write n-triples data to a file. On my Windows 10 dev machine it works and results in a text file with required content. When deploying the code on RHEL7 I got a TypeError. It turned out that serialize() returns a str on Windows and bytes on Linux.

To fix it I introduced a try..catch... Here's a compact representation of the code:
[code]

 It might h

[2022-05-25 15:29] faubulous opened #168 "Command not found: cannot directly run pylode on Linux bash as documented"
I've been trying to run pylode after installing it through pip3 on Python 3.10.4 using the command:

`$ pip3 install pylode`

I always got a 'bash: pylode: command not found...' error when entering the documented command on Fedora Linux:

`$ pylode test.ttl -o test.html`

After some research I found out that I need to run pylode as a module to be able to use it on the command line. So instead, the

[2022-06-01 23:56] almereyda commented on #18
The functionality from #118 was removed from `cli.py` with the jump to the v3 series: https://github.com/RDFLib/pyLODE/commit/7359cb69b39f41924f997b22429f7b1527a45fb1#diff-9441a88d9bc92d76088030c5d4f9468dcb3c24574ad1bcc6d76753cd4b6b3ae5

Are there any current plans or ideas to reimplement internationalisation (i18n) after the switch?

This has come up during https://lab.allmende.io/valueflows/valu

[2022-06-20 11:21] nicholascar commented on #168
Hi @faubulous, oh dear, it _used_ to work like that - `$ pylode ...` - so something must have broken it, probably when we went to pyLODE3.

I am planning an update sprint in July to enable SKOS support, support for more schema.org properties and a few other things, so I see this Issue here now and I'll hopefully be able to look into this too.

Of course, if you can work out how to fix things, plea

[2022-06-28 16:16] BonaBeavis opened #170 "Width of table of contents"
With longer class names the line breaks reduce readability, because there is no separating element between classes. A solution would either be to increase the width of the table of contents or add a visual separation between the class names.
![image](https://user-images.githubusercontent.com/3330855/176229398-05a6d148-6cc0-4cfa-9e44-b24c15e775cb.png)

[2022-06-28 17:17] BonaBeavis commented on #170
Also, some kind of sorting would be nice...

[2022-07-28 11:44] #168 closed

[2022-08-22 12:33] nicholascar commented on #170
Yep, I see this issue myself in some of my ontologies. I'll try and actually put some effort in here shortly!

[2022-08-23 13:57] #161 closed

[2022-08-23 19:07] hammar commented on #161
I realized just now when I was pinged on this that I never actually did work on this as you suggested. Sorry that I dropped the ball! And thanks for fixing it.

[2022-08-31 12:36] GBR-613 opened #173 "Markdown output"
In a live installation (https://pylode.surroundaustralia.com) there is an option to generate output in Markdown format instead of HTML.
Please suggest how can I get output in Markdown format using the command line tool or programmatically.
I looked into the code but did not realize how is it possible.
Thanks in advance!

[2022-09-13 14:34] VladimirAlexiev commented on #108
https://github.com/eccenca/jod/issues/15 asks the same props to be handled in 3 namespaces: `schema, dcam, dcid`

[2022-10-01 11:53] riannella opened #174 "Support rdfs:seeAlso"
Can support for  rdfs:seeAlso be added?

[2022-10-03 12:41] riannella opened #175 "Support owl:equivalentProperty"
Can support for owl:equivalentProperty be added?

[2022-10-10 11:25] ioggstream opened #176 "Add security CI"
## I expect

- [ ] A security CI via pre-commit
- [ ] a security CI via gh-actions

[2022-10-14 02:56] riannella opened #178 "Markdown support?"
The export to markdown format does not work
(and would be a great feature!)

[2022-10-14 02:59] riannella opened #179 "Vocpub issue"
Where i select "vocpub" with a skos vocab, I get the following error:
`'NoneType' object has no attribute 'get'`

[2022-10-19 09:44] matentzn commented on #86
Hey, I just want to check the status of this. This is particularly relevant for use cases where the IRI use numeric identifiers. But generally, there often is a discrepancy between the label and the IRI - right now many of my redirects to pylode generated docs don't work because of it!

[2022-10-24 19:59] ashleycaselli commented on #173
I think the Markdown generation was removed in version 3.x. The only options to generate Markdown that I'm aware of are using the code of the branch named 2.x or using this docker image ([ghcr.io/ashleycaselli/pylode.md:1.0.4](https://github.com/ashleycaselli/pyLODE.md/pkgs/container/pylode.md)).

[2022-10-24 20:00] ashleycaselli commented on #178
Is it still available in version 3.x? As far as I understood that was dropped from version 3.0.1

[2022-10-25 04:33] riannella commented on #178
Nice to get it back 👍

[2022-10-25 07:50] ashleycaselli commented on #178
The two options to generate Markdown at the moment (that I'm aware of) are using the code of the branch named 2.x or using this docker image ([ghcr.io/ashleycaselli/pylode.md:1.0.4](https://github.com/ashleycaselli/pyLODE.md/pkgs/container/pylode.md)).